apiVersion: v1
kind: ConfigMap
metadata:
  name: gointern-scheduler-application-config
data:
  application-prod.yml: |
    logging.config: classpath:logback-spring-prod.xml

    spring:
      main:
        web-application-type: servlet
      autoconfigure:
        exclude:
          - org.springframework.boot.autoconfigure.session.SessionAutoConfiguration
          - org.springframework.boot.autoconfigure.web.reactive.WebFluxAutoConfiguration
      datasource:
        url: ${POSTGRESQL_URL}
        username: ${POSTGRESQL_USERNAME}
        password: ${POSTGRESQL_PASSWORD}
        hikari:
          connectionTimeout: 30000
          maximumPoolSize: 5
          minimumIdle: 2
          idleTimeout: 600000
          maxLifetime: 1800000
          poolName: HikariCP
          readOnly: false
          data-source-properties:
            rewriteBatchedStatements: true

      data:
        redis:
          host: ${REDIS_HOST}
          port: ${REDIS_PORT}
          # password: ${REDIS_PW}
          lettuce:
            pool:
              max-active: 20
              max-idle: 10
              min-idle: 5
              max-wait: 5s
      task:
        scheduling:
          pool:
            size: 10
          shutdown:
            await-termination: true
            await-termination-period: 60000
          thread-name-prefix: do-scheduling-
        execution:
          pool:
            core-size: 10
            max-size: 20
            queue-capacity: 100
          thread-name-prefix: scheduled-task-
          shutdown:
            await-termination: true
            await-termination-period: 60s

    internal:
      portal:
        host: ${PORTAL_HOST}
        api-key: ${PORTAL_API_KEY}
        secret-key: ${PORTAL_SECRET_KEY}
      ai:
        host: ${AI_HOST}
        api-key: ${AI_API_KEY}
        query-stream:
          emitter-timeout: 300000
          web-client-timeout: 300

    external:
      viewer:
        prefix: https://view.officeapps.live.com/op/embed.aspx?src=
      oci:
        user: ${OCI_USER}
        finger-print: ${OCI_FINGER_PRINT}
        tenancy: ${OCI_TENANCY}
        storage:
          name-space: ${OCI_NAME_SPACE}
          general:
            host: https://objectstorage.ap-seoul-1.oraclecloud.com
            bucket-name: prod-gointern-general
            name-space: ${OCI_NAME_SPACE}
          common:
            bucket-name: prod-gointern-common
            content-path: common/
          public:
            content-path: tenant/
          private:
            content-path: individual/
          meeting:
            content-path: minutes/
      msal:
        oauth2:
          host: https://login.microsoftonline.com/common/oauth2/v2.0
          clientId: ${MSAL_CLIENT_ID}
          clientSecret: ${MSAL_CLIENT_SECRET}
          scope: email openid
          redirectUri: ${MSAL_REDIRECT_URI}
        api: https://graph.microsoft.com/v1.0
        sharepoint:
          domain: sharepoint.com
          site_name: go-intern-service
          root_path:
        onedrive:
          root_path: Go_Intern_Files
          docs_path: Docs
          meeting_path: Meeting
      google:
        oauth2:
          host: https://accounts.google.com/o/oauth2/v2/auth
          hostToken: https://oauth2.googleapis.com
          clientId: ${GOOGLE_CLIENT_ID}
          clientSecret: ${GOOGLE_CLIENT_SECRET}
          scope: https://www.googleapis.com/auth/userinfo.email
          redirectUri: ${GOOGLE_REDIRECT_URI}
        api: https://www.googleapis.com
        drive:
          site_name: go-intern-service
          root_path: Go_Intern_Files
          docs_path: Docs
          meeting_path: Meeting
      apple:
        oauth2:
          host: https://appleid.apple.com/auth/authorize
          clientId: ${APPLE_CLIENT_ID}
          response_mode: form_post
          response_type: code id_token
          scope: name email
          redirectUri: ${APPLE_REDIRECT_URI}
          state: goyoai
      amplitude:
        api-key: ${AMPLITUDE_API_KEY}
        secret-key: ${AMPLITUDE_SECRET_KEY}
      hecto-financial:
        host:
          ui: None
          uiNon: None
      slack:
        webhook-url: ${SLACK_WEBHOOK_URL}
        webhook-critical-url: ${SLACK_WEBHOOK_CRITICAL_URL}

    oauth:
      atlassian:
        auth_host_url: https://auth.atlassian.com
        api_host: api.atlassian.com
        confluence_scope: offline_access read:me read:account read:user:confluence read:space:confluence read:comment:confluence read:confluence-space.summary read:confluence-props read:confluence-content.all read:confluence-content.summary search:confluence read:confluence-content.permission read:confluence-user read:confluence-groups readonly:content.attachment:confluence read:page:confluence read:configuration:confluence
        confluence_api_middle: /ex/confluence
        jira_scope: offline_access read:me read:account read:jira-work read:jira-user read:issue:jira read:issue:jira-software read:issue.watcher:jira read:issue-type.property:jira read:issue-type-screen-scheme:jira read:issue-type-scheme:jira read:issue-type:jira read:issue-security-scheme:jira read:issue-details:jira read:issue.remote-link:jira read:issue.property:jira read:issue-link-type:jira read:issue-link:jira read:issue-meta:jira read:issue-event:jira read:dashboard:jira read:project:jira read:project.property:jira read:user:jira read:application-role:jira read:avatar:jira read:group:jira read:issue-type-hierarchy:jira read:project-category:jira read:project-version:jira read:project.component:jira read:field-configuration:jira
        jira_api_middle: /ex/jira
        client_id: ${ATLASSIAN_CLIENT_ID}
        client_secret: ${ATLASSIAN_CLIENT_SECRET}
        redirect_uri: ${ATLASSIAN_REDIRECT_URI}

      monday:
        auth_url: https://auth.monday.com/oauth2/authorize?client_id=
        install_url: https://auth.monday.com/oauth2/authorize?response_type=install&client_id=
        client_id: ${MONDAY_CLIENT_ID}
        client_secret: ${MONDAY_CLIENT_SECRET}
        base_url: https://api.monday.com/v2
        authentication_token_url: https://auth.monday.com/oauth2/token
        redirect_uri: ${MONDAY_REDIRECT_URI}
        scope:

      azure:
        object_id: ${AZURE_OBJECT_ID}
        client_id: ${AZURE_CLIENT_ID}
        client_secret: ${AZURE_CLIENT_SECRET}
        tenant_id: ${AZURE_TENANT_ID}
        login_uri: https://login.microsoftonline.com
        auth_uri: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
        redirect_uri: ${AZURE_REDIRECT_URI}
        sharepoint_uri: https://__TENANT_NAME__-my.sharepoint.com
        sharepoint_uri_replace_str: __TENANT_NAME__
        notification_uri: ${AZURE_NOTIFICATION_URI}
        notification_setting:
          mail:
            change_type: created
            resource: me/mailFolders('Inbox')/messages
            expiration_minute: 10070
          calendar:
            change_type: created,updated,deleted
            resource: me/events
            expiration_minute: 10070

      gcp:
        api_key: ${GOOGLE_API_KEY}
        client_id: ${GOOGLE_CLIENT_ID}
        client_secret: ${GOOGLE_CLIENT_SECRET}
        login_uri: https://accounts.google.com/o/oauth2/v2/auth
        auth_uri: https://oauth2.googleapis.com/token
        redirect_uri: ${GOOGLE_REDIRECT_URI}
        subscription_topic: projects/goyoai-portal/topics/goyoai-topic
        subscription_webhook_uri: ${GOOGLE_SUBSCRIPTION_WEBHOOK_URI}

      figma:
        auth_host_url: https://www.figma.com
        api_host: api.figma.com
        client_id: ${FIGMA_CLIENT_ID}
        client_secret: ${FIGMA_CLIENT_SECRET}
        scope: files:read file_variables:read file_variables:write file_comments:write library_analytics:read
        redirect_uri: ${FIGMA_REDIRECT_URI}

      slack:
        auth_host_url: https://slack.com
        api_host: slack.com
        app_id: ${SLACK_APP_ID}
        client_id: ${SLACK_CLIENT_ID}
        client_secret: ${SLACK_CLIENT_SECRET}
        scope:
        user_scope: channels:read,channels:write,users:read,users:read.email,users:write
        redirect_uri: ${SLACK_REDIRECT_URI}

      notion:
        auth_host_url: https://api.notion.com
        api_host: api.notion.com
        client_id: ${NOTION_CLIENT_ID}
        client_secret: ${NOTION_CLIENT_SECRET}
        redirect_uri: ${NOTION_REDIRECT_URI}

      zoom:
        auth_host_url: https://zoom.us
        api_host: api.zoom.us
        client_id: ${ZOOM_CLIENT_ID}
        client_secret: ${ZOOM_CLIENT_SECRET}
        redirect_uri: ${ZOOM_REDIRECT_URI}
        scope: user:read:user,email:read:profile,meeting:read:local_recording_token,meeting:read:summary,meeting:read:participant,meeting:read:list_meetings,meeting:read:meeting,meeting:read:chat_message,meeting:read:invitation,meeting:read:alert,meeting:read:live_streaming_token,cloud_recording:read:registrant,cloud_recording:read:recording,archiving:read:list_archived_files,team_chat:read:list_user_sessions,team_chat:read:list_user_messages,team_chat:read:user_message,user:read:email,user:read:settings,user:read:personal_note,user:read:presence_status

      dropbox:
        auth_host_url: https://www.dropbox.com
        api_host: api.dropboxapi.com
        client_id: ${DROPBOX_CLIENT_ID}
        client_secret: ${DROPBOX_CLIENT_SECRET}
        redirect_uri: ${DROPBOX_REDIRECT_URI}
        scope:

    cors:
      origins: http*://localhost:*, http*://*.goyoai.com, http*://*.goyoai.com:*

    cryptography:
      default:
        secret-key: ${CRYPTO_DEFAULT_SECRET_KEY}
      signature:
        api-key: ${CRYPTO_SIGNATURE_API_KEY}
        secret-key: ${CRYPTO_SIGNATURE_SECRET_KEY}
      privacy:
        password: ${CRYPTO_PRIVACY_PASSWORD}
        salt: ${CRYPTO_PRIVACY_SALT}
        iv: ${CRYPTO_PRIVACY_IV}

    management:
      server:
        port: 9292
      endpoints:
        web:
          exposure:
            include: health,prometheus,metrics
          base-path: /actuator
      endpoint:
        health:
          show-details: when-authorized
          probes:
            enabled: true
          prometheus:
            enabled: true
      metrics:
        tags:
          application: ${spring.application.name}
          environment: prod
          cluster: prod
        distribution:
          percentiles-histogram:
            http:
              server:
                requests: true
          minimum-expected-value: 
            http.server.requests: 5ms
          maximum-expected-value:
            http.server.requests: 1000ms
        enable:
          all: true
