apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: generate-timestamp
  namespace: tekton-pipelines
spec:
  params:
    - name: project-name
      type: string
      default: goyoai-web-prd
    - name: module-name
      type: string
    - name: author-name
      type: string
      default: "Unknown"
      description: "Git commit author name"
  results:
    - name: timestamp
      description: "Generated timestamp"

  steps:
    - name: generate-timestamp
      image: gdhb.goyoai.com/common/alpine:3.20.3
      #image: alpine
      script: |
        #!/bin/sh
        TIMESTAMP=$(TZ=Asia/Seoul date +%Y%m%d%H%M%S)
        echo -n $TIMESTAMP > $(results.timestamp.path)
        # apk add --no-cache curl tzdata

        # # SLACK_WEBHOOK_URL="https://hooks.slack.com/services/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"
        # SLACK_WEBHOOK_URL="https://hooks.slack.com/services/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"
        # MODULE_NAME="$(params.module-name)"
        # AUTHOR_NAME="$(params.author-name)"

        # # ν„μ¬ μ‹κ°„ (KST)
        # CURRENT_TIME=$(TZ=Asia/Seoul date '+%Y-%m-%d %H:%M:%S')

        # # π¨ μƒμ„Έν• Slack Block Kit λ©”μ‹μ§€
        # SLACK_MESSAGE=$(cat <<EOF
        # {
        #   "blocks": [
        #     {
        #       "type": "header",
        #       "text": {
        #         "type": "plain_text",
        #         "text": "β… GoyoAI-Gointern-Start",
        #         "emoji": true
        #       }
        #     },
        #     {
        #       "type": "section",
        #       "fields": [
        #         {
        #           "type": "mrkdwn",
        #           "text": "*Module:*\n\`${MODULE_NAME}\`"
        #         },
        #         {
        #           "type": "mrkdwn",
        #           "text": "*Status:*\n:white_check_mark: Start"
        #         },
        #         {
        #           "type": "mrkdwn",
        #           "text": "*Committer:*\n${AUTHOR_NAME}"
        #         }
        #       ]
        #     },
        #     {
        #       "type": "context",
        #       "elements": [
        #         {
        #           "type": "mrkdwn",
        #           "text": "β° ${CURRENT_TIME} KST | π“¦ Goyoai-Backend-System-CI"
        #         }
        #       ]
        #     },
        #     {
        #       "type": "divider"
        #     }
        #   ]
        # }
        # EOF
        # )

        # # Slack μ•λ¦Ό μ „μ†΅ (μ‹¤ν¨ν•΄λ„ λΉλ“λ” μ„±κ³µμΌλ΅ μ²λ¦¬)
        # if curl -X POST -H 'Content-type: application/json' \
        #   --data "$SLACK_MESSAGE" \
        #   $SLACK_WEBHOOK_URL; then
        #   echo "β… Slack notification sent Start"
        # else
        #   echo "β οΈ  Slack notification failed (non-critical)"
        # fi
