# Frontend 전용 Trigger Binding
apiVersion: triggers.tekton.dev/v1beta1
kind: TriggerBinding
metadata:
  name: {{ .Values.project_name }}
  namespace: tekton-pipelines
spec:
  params:
    - name: gitrevision
      value: $(extensions.branch_name)
    - name: gitrepositoryurl
      value: $(body.repository.clone_url)
    - name: git-repo-name
      value: $(body.repository.name)
    - name: git-sha
      value: $(extensions.sha)
    - name: git-short-sha
      value: $(extensions.short_sha)
    - name: deploy-env
      value: $(extensions.deploy_env)
    - name: app-name  # ✅ module-name 대신 app-name 사용
      value: $(extensions.app_name)
    - name: pvc-name
      value: $(extensions.pvc_name)
    - name: dockerfile-name
      value: $(extensions.dockerfile_name)