apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./deployment.yaml
  - ./service.yaml
  - ./poddisruptionbudget.yaml
commonLabels:
  app: uclick-aify-studio-web-feature-aify-studio-app
