apiVersion: triggers.tekton.dev/v1beta1
kind: TriggerBinding
metadata:
  name: {{ .Values.project_name }}
  namespace: tekton-pipelines
spec:
  params:
    - name: gitrevision
      # Git 브랜치 이름입니다. 웹훅 페이로드 구조에 따라 조정하세요.
      value: $(extensions.branch_name)

    - name: gitrepositoryurl
      # Git 저장소의 클론 URL입니다. 웹훅에서 제공하는 저장소 URL을 사용합니다.
      value: $(body.repository.clone_url)

    - name: git-repo-name
      # Git 저장소 이름입니다. 웹훅 페이로드에서 저장소 이름을 추출합니다.
      value: $(body.repository.name)

    - name: git-sha
      # 이벤트를 트리거한 커밋의 전체 SHA 해시입니다.
      value: $(extensions.sha)

    - name: git-short-sha
      # 커밋의 짧은 SHA 해시입니다. 간결한 참조를 위해 사용됩니다.
      value: $(extensions.short_sha)

    - name: deploy-env
      # 배포할 환경을 지정합니다. 예: staging, production 등.
      value: $(extensions.deploy_env)

    - name: module-name
      value: $(extensions.module_name)

    # - name: pvc-name
    #   value: $(extensions.pvc_name)

    - name: dockerfile-name
      value: $(extensions.dockerfile_name)