apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: {{ .Values.project_name }}
  namespace: tekton-pipelines
spec:
  params:
    # (파라미터는 백엔드와 동일하게 사용합니다)
    - name: giturl
      type: string
    - name: container-registry-url
      type: string
    - name: container-registry-cache-url
      type: string
    - name: revision
      type: string
    - name: manifest-file-name
      type: string
      description: "Path to the Kubernetes manifest file in the Git repository."
    - name: commit-message
      type: string
      default: "Update Kubernetes manifest"
    - name: project-name
      type: string
    - name: git-short-sha
      type: string
    - name: module-name
      type: string
      description: "The module to build"
    - name: dockerfile-name
      type: string
      description: "Name of the Dockerfile to use"
    - name: author-name
      type: string
      description: "Git commit author name"
    - name: git-branch
      type: string
      description: "Git branch name"
      
  workspaces:
    - name: {{ .Values.project_name }}

  tasks:
    - name: generate-timestamp
      taskRef:
        name: generate-timestamp
      params:
        - name: project-name
          value: $(params.project-name)
        - name: module-name
          value: $(params.module-name)

    - name: clone-repository
      taskRef:
        name: {{ .Values.project_name }}-git-clone
      params:
        - name: giturl
          value: $(params.giturl)
        - name: revision
          value: $(params.revision)
        - name: project-name
          value: $(params.project-name)
        - name: module-name
          value: $(params.module-name)        
        - name: author-name
          value: $(params.author-name)
        - name: commit-message
          value: $(params.commit-message)
      runAfter: ["generate-timestamp"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}

    - name: build-container-image
      taskRef:
        name: {{ .Values.frontend_build_task_name }}-trigger
      params:
        - name: container-registry-url
          value: $(params.container-registry-url)
        - name: container-registry-cache-url
          value: $(params.container-registry-cache-url)
        - name: project-name
          value: $(params.project-name)
        - name: timestamp
          value: $(tasks.generate-timestamp.results.timestamp)
        - name: git-short-sha
          value: $(params.git-short-sha)
        - name: module-name
          value: $(params.module-name)
        - name: dockerfile-name
          value: $(params.dockerfile-name)
        - name: giturl
          value: $(params.giturl)
        - name: revision
          value: $(params.revision)
      runAfter: ["clone-repository"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}

    - name: manifest-git-push
      taskRef:
        name: {{ .Values.project_name }}-manifest
      params:
        - name: manifest-file-name
          value: $(params.manifest-file-name)
        - name: container-registry-url
          value: $(params.container-registry-url)
        - name: commit-message
          value: $(params.commit-message)
        # (params.revision은 여기서는 사용되지 않지만, manifest-push Task 내부에서 사용될 수 있으므로
        #  Task 정의서(frontend-manifest-push.yaml)의 params와 일치해야 합니다.)
        # - name: revision 
        #   value: $(params.revision) 
        - name: project-name
          value: $(params.project-name)
        - name: timestamp
          value: $(tasks.generate-timestamp.results.timestamp)
        - name: git-short-sha
          value: $(params.git-short-sha)
        - name: module-name
          value: $(params.module-name)
        - name: author-name
          value: $(params.author-name)
        - name: git-branch
          value: $(params.git-branch)
        
      runAfter: ["build-container-image"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}