apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: {{ .Values.project_name }}-image-build
  namespace: tekton-pipelines
  labels:
    app.kubernetes.io/version: "0.6"
  annotations:
    tekton.dev/pipelines.minVersion: "0.17.0"
    tekton.dev/categories: Image Build
    tekton.dev/tags: image-build
    tekton.dev/displayName: "Build and upload container image using Kaniko"
    tekton.dev/platforms: "linux/amd64,linux/arm64,linux/ppc64le"
spec:
  description: >-
    This Task builds a Docker image with Kaniko and pushes it to a registry.
    The image name and digest are stored as results.
  params:
    - name: container-registry-url
      type: string
    - name: container-registry-cache-url
      type: string
    - name: timestamp
      type: string
    - name: project-name
      type: string
      default: {{ .Values.project_name }}
    - name: git-short-sha
      type: string
    - name: EXTRA_ARGS
      type: array
      default: []
  workspaces:
    - name: {{ .Values.project_name }}
      description: Holds the context and Dockerfile
  steps:
    # - name: install-dependencies
    #   image: node:20.18.0-bullseye-slim
    #   script: |
    #     #!/bin/sh
    #     cd $(workspaces.{{ .Values.project_name }}.path)/$(params.project-name)-source
    #     yarn install --frozen-lockfile --prefer-offline
    - name: list-files
      image: {{ .Values.common_alpine_url }}
      script: |
        #!/bin/sh
        WORKSPACE_PATH=$(workspaces.{{ .Values.project_name }}.path)
        PROJECT_DIR=$WORKSPACE_PATH/$(params.project-name)-source
        echo "Listing files in $PROJECT_DIR :"
        ls -al $PROJECT_DIR

    - name: build-and-push
      image: gcr.io/kaniko-project/executor:v1.23.2
      args:
        - --context=$(workspaces.{{ .Values.project_name }}.path)/$(params.project-name)-source
        - --dockerfile=$(workspaces.{{ .Values.project_name }}.path)/$(params.project-name)-source/{{ .Values.dockerfile_name }}
        - --destination=$(params.container-registry-url):$(params.git-short-sha)-$(params.timestamp)
        - --force
        - --skip-tls-verify
        - --skip-unused-stages
        - --use-new-run
        - --cache=true
        - --cache-ttl=168h
        - --cache-repo=$(params.container-registry-cache-url)
        - --cache-copy-layers
        - --cache-run-layers=true
        - --snapshot-mode=redo
        - --compressed-caching=false
        - --ignore-var-run
        - --log-format=json            # 추가: 로깅 개선
        - --log-timestamp=true 
        - --cleanup

      volumeMounts:
        - name: docker-config
          mountPath: /kaniko/.docker
        - name: npm-cache-dir
          mountPath: /root/.npm  # npm 캐시 디렉토리
      securityContext:
        runAsUser: 0
  volumes:
    - name: docker-config
      secret:
        secretName: {{ .Values.container_registry_secretName }}
        items:
          - key: .dockerconfigjson
            path: config.json
    - name: npm-cache-dir
      persistentVolumeClaim:
        claimName: {{ .Values.yarn_cache_pvc_name }}

