apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.yarn_cache_pvc_name}}
  namespace: tekton-pipelines
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.storage_ClassName}}
  resources:
    requests:
      storage: {{ .Values.storage_size}}