apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: {{ .Values.project_name }}
  namespace: tekton-pipelines
spec:
  params:
    - name: giturl
      type: string
    - name: container-registry-url
      type: string
    - name: container-registry-cache-url
      type: string
    - name: revision
      type: string
    - name: manifest-file-name
      type: string
      description: "Path to the Kubernetes manifest file in the Git repository."
    - name: commit-message
      type: string
      default: "Update Kubernetes manifest"
    - name: project-name
      type: string
    - name: git-short-sha
      type: string
      
  workspaces:
    - name: {{ .Values.project_name }}

  tasks:
    - name: generate-timestamp
      taskRef:
        name: generate-timestamp
      params:
        - name: project-name
          value: $(params.project-name)

    - name: clone-repository
      taskRef:
        name: {{ .Values.project_name }}-git-clone
      params:
        - name: giturl
          value: $(params.giturl)
        - name: revision
          value: $(params.revision)
        - name: project-name
          value: $(params.project-name)
      runAfter: ["generate-timestamp"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}

    - name: build-container-image
      taskRef:
        name: {{ .Values.project_name }}-image-build
      params:
        - name: container-registry-url
          value: $(params.container-registry-url)
        - name: container-registry-cache-url
          value: $(params.container-registry-cache-url)
        - name: project-name
          value: $(params.project-name)
        - name: timestamp
          value: $(tasks.generate-timestamp.results.timestamp)
        - name: git-short-sha
          value: $(params.git-short-sha)        
      runAfter: ["clone-repository"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}
    # - name: extract-static-files
    #   taskRef:
    #     name: {{ .Values.project_name }}-extract-static-files
    #   params:
    #     - name: project-name
    #       value: $(params.project-name)
    #     - name: container-registry-url
    #       value: $(params.container-registry-url)
    #     - name: git-short-sha
    #       value: $(params.git-short-sha)
    #     - name: timestamp
    #       value: $(tasks.generate-timestamp.results.timestamp)
    #   runAfter: ["build-container-image"]
    #   workspaces:
    #     - name: source
    #       workspace: {{ .Values.project_name }}
      
    # - name: deploy-static-files
    #   taskRef:
    #     name: {{ .Values.project_name }}-deploy-static-files
    #   params:
    #     - name: project-name
    #       value: $(params.project-name)
    #   runAfter: ["build-container-image"]
    #   workspaces:
    #     - name: {{ .Values.project_name }}
    #       workspace: {{ .Values.project_name }}
    #     # - name: {{ .Values.react_static_workspace_name }}
    #     #   workspace: {{ .Values.react_static_workspace_name }}

    - name: manifest-git-push
      taskRef:
        name: {{ .Values.project_name }}-manifest
      params:
        - name: manifest-file-name
          value: $(params.manifest-file-name)
        - name: container-registry-url
          value: $(params.container-registry-url)
        - name: commit-message
          value: $(params.commit-message)
        - name: revision
          value: $(params.revision)
        - name: project-name
          value: $(params.project-name)
        - name: timestamp
          value: $(tasks.generate-timestamp.results.timestamp)
        - name: git-short-sha
          value: $(params.git-short-sha)
        
      runAfter: ["build-container-image"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}
