# image:  # @schema additionalProperties: false
#   # -- Traefik image host registry
#   registry: docker.io
#   # -- Traefik image repository
#   repository: traefik
#   # -- defaults to appVersion
#   tag: v3.3.3 # @schema type:[string, null]
#   # -- Traefik image pull policy
#   pullPolicy: IfNotPresent

deployment:
  replicas: 1
logs:
  general:
    level: DEBUG  # Sets the log level to DEBUG
  access:
    enabled: true
service:
  enabled: true
  single: true  # Uses a single service for both TCP and UDP when set to true
  type: LoadBalancer
  annotations:
    oci.oraclecloud.com/load-balancer-type: "lb"
    # oci.oraclecloud.com/oci-network-security-groups: "ocid1.networksecuritygroup.oc1.ap-seoul-1.aaaaaaaa6dbthfhho64h65hlbfc7kp5i3sobj4mjiqfvhrl6xvsgafhff5dq"
    service.beta.kubernetes.io/oci-load-balancer-security-list-management-mode: "None"
    service.beta.kubernetes.io/oci-load-balancer-shape: "flexible"
    service.beta.kubernetes.io/oci-load-balancer-shape-flex-min: "100"
    service.beta.kubernetes.io/oci-load-balancer-shape-flex-max: "200"
    service.beta.kubernetes.io/oci-load-balancer-connection-idle-timeout: "600"
    # service.beta.kubernetes.io/oci-load-balancer-tls-backendset-secret: noco-tls-secret
    service.beta.kubernetes.io/oci-load-balancer-internal: "true"
    service.beta.kubernetes.io/oci-load-balancer-subnet1: "ocid1.subnet.oc1.ap-seoul-1.aaaaaaaaheg7uvt4p35txb3pabnvuwob2cphrx5fdanx4pcvu5vkla6y74sa"
    oci.oraclecloud.com/node-label-selector: goyo-svc=web-apps  
    initial-freeform-tags-override: '{"Name": "goyoai-tools-traefik"}'
    service.beta.kubernetes.io/oci-load-balancer-ssl-ports: "443"
    service.beta.kubernetes.io/oci-load-balancer-display-name: "k8s-gointern-apps-traefik"
    # service.beta.kubernetes.io/oci-load-balancer-tls-secret: nocodb/nocodb-tls
    service.beta.kubernetes.io/oci-load-balancer-backend-protocol: "TCP"
    ervice.beta.kubernetes.io/oci-load-balancer-security-list-management-mode: "None" 

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: "goyo-svc"
          operator: In
          values:
          - "web-apps"

experimental:
  abortOnPluginFailure: false
  plugins:
    traefik-real-ip:
      moduleName: github.com/soulbalz/traefik-real-ip
      version: v1.0.3

providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
  kubernetesIngress:
    namespaces:
    - traefik
ingressRoute:
  dashboard:
    enabled: true
ports:
  otlp-grpc:    # OTLP gRPC용 포트
    port: 4317
    expose: 
      default: false
    exposedPort: 4317
    protocol: TCP
  otlp-http:    # OTLP HTTP용 포트
    port: 4318
    expose: 
      default: false
    exposedPort: 4318
    protocol: TCP
  postgresql:    # OTLP HTTP용 포트
    port: 5432
    expose: 
      default: false
    exposedPort: 5432
    protocol: TCP
  mysql:         # MySQL용 포트 추가
    port: 32001
    expose: 
      default: true
    exposedPort: 32001
  # postgresql:         # postgres용 포트 추가
  #   port: 32003
  #   expose: 
  #     default: true
  #   exposedPort: 32003
  redis-tcp:         # redis용 포트 추가
    port: 32002
    expose: 
      default: true
    exposedPort: 32002
  gointern-redis-tcp:         # redis용 포트 추가
    port: 32003
    expose: 
      default: true
    exposedPort: 32003
  aify-redis-tcp:         # redis용 포트 추가
    port: 32004
    expose: 
      default: true
    exposedPort: 32004