apiVersion: v1
kind: ConfigMap
metadata:
  name: goyo-opentelemetry-collector-agent
  namespace: otlp
  labels:
    app.kubernetes.io/instance: goyo-opentelemetry-collector
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: opentelemetry-collector
    app.kubernetes.io/version: 0.96.0
    helm.sh/chart: opentelemetry-collector-0.85.0
data:
  relay: |
    exporters:
      debug: {}
      logging:
        loglevel: debug
      otlp:
        endpoint: goyo-tempo-distributed-distributor.lgtm.svc.cluster.local:4317
        tls:
          insecure: true
      prometheus:
        endpoint: goyo-prometheus-server.prometheus.svc.cluster.local:80
        const_labels:
          label1: goyoai-web
      prometheusremotewrite:
        endpoint: "http://goyo-mimir-distributed-gateway.lgtm.svc:80/api/v1/push"
        tls:
          insecure: true
    extensions:
      health_check:
        endpoint: ${env:MY_POD_IP}:13133
    processors:
      batch:
        send_batch_size: 1024
        timeout: 5s
      memory_limiter:
        check_interval: 5s
        limit_percentage: 80
        spike_limit_percentage: 25
    receivers:
      jaeger:
        protocols:
          grpc:
            endpoint: ${env:MY_POD_IP}:14250
          thrift_compact:
            endpoint: ${env:MY_POD_IP}:6831
          thrift_http:
            endpoint: ${env:MY_POD_IP}:14268
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      prometheus:
        config:
          scrape_configs:
          - job_name: " goyoai-web"
            scrape_interval: 5s
            metrics_path: "/actuator/prometheus"
            static_configs:
            - targets:
              - goyoai-web-back-actuator.goyoai-web.svc.cluster.local:9292
      zipkin:
        endpoint: ${env:MY_POD_IP}:9411
    service:
      extensions:
      - health_check
      pipelines:
        logs:
          exporters:
          - debug
          processors:
          - memory_limiter
          - batch
          receivers:
          - otlp
        metrics:
          exporters:
          - prometheusremotewrite
          - debug
          processors:
          - memory_limiter
          - batch
          receivers:
          - prometheus
          - otlp
        traces:
          exporters:
          - logging
          - otlp
          processors:
          - batch
          receivers:
          - otlp
      telemetry:
        metrics:
          address: ${env:MY_POD_IP}:8888