apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
  name: goyoai-web-front-react-nginx
---
apiVersion: v1
automountServiceAccountToken: true
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx
  namespace: goyoai-web-front-react-nginx
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/component: admission-webhook
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx-admission
  namespace: goyoai-web-front-react-nginx
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx
  namespace: goyoai-web-front-react-nginx
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - configmaps
  - pods
  - secrets
  - endpoints
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses/status
  verbs:
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingressclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resourceNames:
  - goyoai-web-front-react-nginx-leader
  resources:
  - leases
  verbs:
  - get
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - list
  - watch
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app.kubernetes.io/component: admission-webhook
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx-admission
  namespace: goyoai-web-front-react-nginx
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - endpoints
  - nodes
  - pods
  - secrets
  - namespaces
  verbs:
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses/status
  verbs:
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingressclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - list
  - watch
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: admission-webhook
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx-admission
rules:
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - get
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx
  namespace: goyoai-web-front-react-nginx
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: goyoai-web-front-react-nginx
subjects:
- kind: ServiceAccount
  name: goyoai-web-front-react-nginx
  namespace: goyoai-web-front-react-nginx
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/component: admission-webhook
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx-admission
  namespace: goyoai-web-front-react-nginx
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: goyoai-web-front-react-nginx-admission
subjects:
- kind: ServiceAccount
  name: goyoai-web-front-react-nginx-admission
  namespace: goyoai-web-front-react-nginx
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: goyoai-web-front-react-nginx
subjects:
- kind: ServiceAccount
  name: goyoai-web-front-react-nginx
  namespace: goyoai-web-front-react-nginx
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/component: admission-webhook
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx-admission
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: goyoai-web-front-react-nginx-admission
subjects:
- kind: ServiceAccount
  name: goyoai-web-front-react-nginx-admission
  namespace: goyoai-web-front-react-nginx
---
apiVersion: v1
data:
  allow-snippet-annotations: "false"
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx-controller
  namespace: goyoai-web-front-react-nginx
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx-controller
  namespace: goyoai-web-front-react-nginx
  annotations:
    oci.oraclecloud.com/load-balancer-type: "lb"
    service.beta.kubernetes.io/oci-load-balancer-shape: "flexible"
    service.beta.kubernetes.io/oci-load-balancer-shape-flex-min: "10"
    service.beta.kubernetes.io/oci-load-balancer-shape-flex-max: "10"
    service.beta.kubernetes.io/oci-load-balancer-ssl-ports: "443"
    service.beta.kubernetes.io/oci-load-balancer-backend-protocol: "TCP"
    service.beta.kubernetes.io/oci-load-balancer-tls-secret: goyoai-web-front-react/goyoai-web-front-react-tls
    service.beta.kubernetes.io/oci-load-balancer-tls-backendset-secret: goyoai-web-front-react/goyoai-web-openssl
spec:
  externalTrafficPolicy: Local
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - appProtocol: http
    name: http
    port: 80
    protocol: TCP
    targetPort: http
  - appProtocol: https
    name: https
    port: 443
    protocol: TCP
    targetPort: https
  selector:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx-controller-admission
  namespace: goyoai-web-front-react-nginx
spec:
  ports:
  - appProtocol: https
    name: https-webhook
    port: 443
    targetPort: webhook
  selector:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx-controller
  namespace: goyoai-web-front-react-nginx
spec:
  minReadySeconds: 0
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/component: controller
      app.kubernetes.io/instance: goyoai-web-front-react-nginx
      app.kubernetes.io/name: goyoai-web-front-react-nginx
  strategy:
    rollingUpdate:
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/component: controller
        app.kubernetes.io/instance: goyoai-web-front-react-nginx
        app.kubernetes.io/name: goyoai-web-front-react-nginx
        app.kubernetes.io/part-of: goyoai-web-front-react-nginx
        app.kubernetes.io/version: 1.9.5
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: "goyo-svc"
                operator: In
                values:
                - "deploy"
      containers:
      - args:
        - /nginx-ingress-controller
        - --publish-service=$(POD_NAMESPACE)/goyoai-web-front-react-nginx-controller
        - --election-id=goyoai-web-front-react-nginx-leader
        - --controller-class=k8s.io/ingress-nginx
        - --ingress-class=nginx
        - --configmap=$(POD_NAMESPACE)/goyoai-web-front-react-nginx-controller
        - --validating-webhook=:8443
        - --validating-webhook-certificate=/usr/local/certificates/cert
        - --validating-webhook-key=/usr/local/certificates/key
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: LD_PRELOAD
          value: /usr/local/lib/libmimalloc.so
        image: registry.k8s.io/ingress-nginx/controller:v1.9.5@sha256:b3aba22b1da80e7acfc52b115cae1d4c687172cbf2b742d5b502419c25ff340e
        imagePullPolicy: IfNotPresent
        lifecycle:
          preStop:
            exec:
              command:
              - /wait-shutdown
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /healthz
            port: 10254
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        name: controller
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        - containerPort: 443
          name: https
          protocol: TCP
        - containerPort: 8443
          name: webhook
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: 10254
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          requests:
            cpu: 100m
            memory: 90Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            add:
            - NET_BIND_SERVICE
            drop:
            - ALL
          readOnlyRootFilesystem: false
          runAsNonRoot: true
          runAsUser: 101
          seccompProfile:
            type: RuntimeDefault
        volumeMounts:
        - mountPath: /usr/local/certificates/
          name: webhook-cert
          readOnly: true
      dnsPolicy: ClusterFirst
      nodeSelector:
        kubernetes.io/os: linux
      serviceAccountName: goyoai-web-front-react-nginx
      terminationGracePeriodSeconds: 300
      volumes:
      - name: webhook-cert
        secret:
          secretName: goyoai-web-front-react-nginx-admission
---
apiVersion: batch/v1
kind: Job
metadata:
  labels:
    app.kubernetes.io/component: admission-webhook
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx-admission-create
  namespace: goyoai-web-front-react-nginx
spec:
  template:
    metadata:
      labels:
        app.kubernetes.io/component: admission-webhook
        app.kubernetes.io/instance: goyoai-web-front-react-nginx
        app.kubernetes.io/name: goyoai-web-front-react-nginx
        app.kubernetes.io/part-of: goyoai-web-front-react-nginx
        app.kubernetes.io/version: 1.9.5
      name: goyoai-web-front-react-nginx-admission-create
    spec:
      containers:
      - args:
        - create
        - --host=goyoai-web-front-react-nginx-controller-admission,goyoai-web-front-react-nginx-controller-admission.$(POD_NAMESPACE).svc
        - --namespace=$(POD_NAMESPACE)
        - --secret-name=goyoai-web-front-react-nginx-admission
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: registry.k8s.io/ingress-nginx/kube-webhook-certgen:v20231011-8b53cabe0@sha256:a7943503b45d552785aa3b5e457f169a5661fb94d82b8a3373bcd9ebaf9aac80
        imagePullPolicy: IfNotPresent
        name: create
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 65532
          seccompProfile:
            type: RuntimeDefault
      nodeSelector:
        kubernetes.io/os: linux
      restartPolicy: OnFailure
      serviceAccountName: goyoai-web-front-react-nginx-admission
---
apiVersion: batch/v1
kind: Job
metadata:
  labels:
    app.kubernetes.io/component: admission-webhook
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx-admission-patch
  namespace: goyoai-web-front-react-nginx
spec:
  template:
    metadata:
      labels:
        app.kubernetes.io/component: admission-webhook
        app.kubernetes.io/instance: goyoai-web-front-react-nginx
        app.kubernetes.io/name: goyoai-web-front-react-nginx
        app.kubernetes.io/part-of: goyoai-web-front-react-nginx
        app.kubernetes.io/version: 1.9.5
      name: goyoai-web-front-react-nginx-admission-patch
    spec:
      containers:
      - args:
        - patch
        - --webhook-name=goyoai-web-front-react-nginx-admission
        - --namespace=$(POD_NAMESPACE)
        - --patch-mutating=false
        - --secret-name=goyoai-web-front-react-nginx-admission
        - --patch-failure-policy=Fail
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: registry.k8s.io/ingress-nginx/kube-webhook-certgen:v20231011-8b53cabe0@sha256:a7943503b45d552785aa3b5e457f169a5661fb94d82b8a3373bcd9ebaf9aac80
        imagePullPolicy: IfNotPresent
        name: patch
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 65532
          seccompProfile:
            type: RuntimeDefault
      nodeSelector:
        kubernetes.io/os: linux
      restartPolicy: OnFailure
      serviceAccountName: goyoai-web-front-react-nginx-admission
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx-lb
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  labels:
    app.kubernetes.io/component: admission-webhook
    app.kubernetes.io/instance: goyoai-web-front-react-nginx
    app.kubernetes.io/name: goyoai-web-front-react-nginx
    app.kubernetes.io/part-of: goyoai-web-front-react-nginx
    app.kubernetes.io/version: 1.9.5
  name: goyoai-web-front-react-nginx-admission
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: goyoai-web-front-react-nginx-controller-admission
      namespace: goyoai-web-front-react-nginx
      path: /networking/v1/ingresses
  failurePolicy: Fail
  matchPolicy: Equivalent
  name: validate.nginx.ingress.kubernetes.io
  rules:
  - apiGroups:
    - networking.k8s.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - ingresses
  sideEffects: None
