apiVersion: apps/v1
kind: Deployment
metadata:
  name: goyoai-aify-web
spec:
  template:
    spec:
      containers:
        - name: goyoai-aify-web-container
          resources:
            requests:
              cpu: "1000m"
              memory: "2Gi"
            limits:
              cpu: "1000m"
              memory: "2Gi"
