apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: hyper-report-qa-frontend-traefik-hpa
  namespace: hyper-report-web
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: hr-frontend-web-traefik
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Percent
          value: 100
          periodSeconds: 15
    scaleUp:
      stabilizationWindowSeconds: 0
      policies:
        - type: Percent
          value: 100
          periodSeconds: 15
