apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  url: https://gpargo.goyoai.com
  dex.config: |
    connectors:
    - type: oidc
      id: authentik
      name: authentik
      config:
        issuer: https://gpauth.goyoai.com/application/o/argocd/
        clientID: fROFydgqN7SVRwJGMZXPYgBK50lrEDSxOZ7r7965
        clientSecret: $dex.authentik.clientSecret
        insecureEnableGroups: true
        scopes:
          - openid
          - profile
          - email