apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: goyoai-web
resources:
  - ../../../base/goyoai-gointern-portal
  - configmap_application.yaml
  - configmap_logback.yaml
  - configmap_promtail_sidecar.yaml
  - configmap_vault_agent.yaml

patches:
  # - target:
  #     kind: Deployment
  #   path: trivy-skip-sidecars-patch.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: goyoai-gointern-portal
    path: deployment_patches.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: goyoai-gointern-portal
    path: vault_manual_sidecar.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: goyoai-gointern-portal
    path: command_args.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: goyoai-gointern-portal
    path: cpu_config.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: goyoai-gointern-portal
    path: replica_config.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: goyoai-gointern-portal
    path: promtail_sidecar.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: goyoai-gointern-portal
    path: logback_patch.yaml
  