# Middleware 생성
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: security-headers
  namespace: goyoai-web
spec:
  headers:
    browserXssFilter: true
    contentTypeNosniff: true
    frameDeny: false
    sslRedirect: false
    stsIncludeSubdomains: true
    stsPreload: true
    stsSeconds: 31536000
    customResponseHeaders:
      X-Frame-Options: "SAMEORIGIN"
      X-Content-Type-Options: "nosniff"
      Referrer-Policy: "strict-origin-when-cross-origin"
      # Content-Security-Policy: "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'"
      # Permissions-Policy: "geolocation=(), microphone=(), camera=()"

