apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: goyoai-web-http
  namespace: goyoai-web
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`go-intern-admin.goyoai.com`) && PathPrefix(`/`)
      middlewares:
        - name: redirect-http-https
      services:
        - kind: Service
          name: goyoai-web-front-admin
          port: 5000
    - kind: Rule
      match: Host(`go-intern.goyoai.com`) && PathPrefix(`/`)
      middlewares:
        - name: redirect-http-https
      services:
        - kind: Service
          name: goyoai-gointern-web
          port: 5000
    - kind: Rule
      match: Host(`go-intern-api.goyoai.com`) && PathPrefix(`/`)
      middlewares:
        - name: redirect-http-https
      services:
        - kind: Service
          name: goyoai-gointern-system
          port: 5000
    - kind: Rule
      match: Host(`go-intern-api-portal.goyoai.com`) && PathPrefix(`/`)
      middlewares:
        - name: redirect-http-https
      services:
        - kind: Service
          name: goyoai-gointern-portal
          port: 5000
    - kind: Rule
      match: Host(`goyoai.com`) && PathPrefix(`/`)
      # match: PathPrefix(`/`)
      middlewares:
        - name: redirect-http-https
      services:
        - kind: Service
          name: goyoai-web-page
          namespace: goyoai-web
          port: 5000
    - kind: Rule
      match: Host(`ksure.goyoai.com`) && PathPrefix(`/`)
      # match: PathPrefix(`/`)
      middlewares:
        - name: redirect-http-https
      services:
        - kind: Service
          name: goyoai-web-front-v2
          namespace: goyoai-web
          port: 5001
    - kind: Rule
      match: Host(`stage.goyoai.com`) && PathPrefix(`/`)
      # match: PathPrefix(`/`)
      middlewares:
        - name: redirect-http-https
      services:
        - kind: Service
          name: goyoai-gointern-web
          namespace: goyoai-web
          port: 5001
    - kind: Rule
      match: Host(`stage-api.goyoai.com`) && PathPrefix(`/`)
      # match: PathPrefix(`/`)
      middlewares:
        - name: redirect-http-https
      services:
        - kind: Service
          name: goyoai-gointern-system
          namespace: goyoai-web
          port: 5000
