apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: {{ .Values.project_name }}-image-build
  namespace: tekton-pipelines
  labels:
    app.kubernetes.io/version: "0.6"
  annotations:
    tekton.dev/pipelines.minVersion: "0.17.0"
    tekton.dev/categories: Image Build
    tekton.dev/tags: image-build
    tekton.dev/displayName: "Build and upload container image using Kaniko"
    tekton.dev/platforms: "linux/amd64,linux/arm64,linux/ppc64le"
spec:
  description: >-
    This Task builds a simple Dockerfile with kaniko and pushes to a registry.
    This Task stores the image name and digest as results, allowing Tekton Chains to pick up
    that an image was built & sign it.
  params:
    - name: container-registry-url
      type: string
    - name: container-registry-cache-url
      type: string
    - name: timestamp
      type: string
    - name: project-name
      type: string
      default: {{ .Values.project_name }}
    - name: git-short-sha
      type: string
    - name: EXTRA_ARGS
      type: array
      default: []
  workspaces:
    - name: {{ .Values.project_name }}
      description: Holds the context and Dockerfile
    - name: dockerconfig
      description: Includes a docker `config.json`
      optional: true
      mountPath: /kaniko/.docker

  # results:
  #   - name: IMAGE_DIGEST
  #     description: Digest of the image just built.
  #   - name: IMAGE_URL
  #     description: URL of the image just built.

  steps:
    - name: list-files
      image: {{ .Values.common_alpine_url }}
      # image: alpine
      script: |
        #!/bin/sh
        WORKSPACE_PATH=$(workspaces.{{ .Values.project_name }}.path)
        PROJECT_DIR=$WORKSPACE_PATH/$(params.project-name)-source
        echo "Listing files in $PROJECT_DIR :"
        ls -al $PROJECT_DIR
    # - name: build-start
    #   image: alpine
    #   script: |
    #     #!/bin/sh
    #     # Curl 설치
    #     apk add --no-cache curl
        
    #     # 슬랙 웹훅 URL
    #     SLACK_WEBHOOK_URL="{{ .Values.slack_webhook_url }}"
        
    #     # 슬랙 메시지 내용
    #     SLACK_MESSAGE="$(params.project-name) Docker Build 시작"

    #     # 슬랙에 메시지 전송
    #     curl -X POST -H 'Content-type: application/json' \
    #     --data '{"text":"'"$SLACK_MESSAGE"'"}' \
    #     $SLACK_WEBHOOK_URL

    # - name: verify-docker-config-mount
    #   image: alpine
    #   script: |
    #     #!/bin/sh
    #     CONFIG_PATH="/kaniko/.docker/config.json"
    #     if [ -f "$CONFIG_PATH" ]; then
    #       echo "Found docker config at $CONFIG_PATH:"
    #       cat "$CONFIG_PATH"
    #     else
    #       echo "Docker config not found at $CONFIG_PATH."
    #       exit 1
    #     fi

    # - name: check-docker-config
    #   image: alpine
    #   script: |
    #     #!/bin/sh
    #     echo "Checking mounted Docker config at /kaniko/.docker/"
    #     ls -l /kaniko/.docker/
    #     if [ -f /kaniko/.docker/config.json ]; then
    #       echo "Docker config found:"
    #       cat /kaniko/.docker/config.json
    #     else
    #       echo "Docker config not found."
    #     fi

    - name: build-and-push
      # workingDir: $(workspaces.source.path)
      image: gcr.io/kaniko-project/executor:v1.7.0-debug
      command:
          - /kaniko/executor
      args:
        - --context=$(workspaces.{{ .Values.project_name }}.path)/$(params.project-name)-source
        - --dockerfile=$(workspaces.{{ .Values.project_name }}.path)/$(params.project-name)-source/{{ .Values.dockerfile }}
        - --destination=$(params.container-registry-url):$(params.git-short-sha)-$(params.timestamp)
        # - --docker-config=/kaniko/.docker/
        - --force
        - --skip-tls-verify
        - --skip-unused-stages # 플래그는 최종 이미지에 필요하지 않은 빌드 단계 skip
        - --use-new-run
        - --cache=true
        - --cache-repo=$(params.container-registry-cache-url)
        # - --cache-copy-layers
      securityContext:
        runAsUser: 0

    # - name: build-end
    #   image: alpine
    #   script: |
    #     #!/bin/sh
    #     # Curl 설치
    #     apk add --no-cache curl
    #     echo "Listing files in $(workspaces.{{ .Values.project_name }}.path):"
    #     ls -al $(workspaces.{{ .Values.project_name }}.path)
        
    #     # 슬랙 웹훅 URL
    #     SLACK_WEBHOOK_URL="{{ .Values.slack_webhook_url }}"
        
    #     # 슬랙 메시지 내용
    #     SLACK_MESSAGE="$(params.project-name) ECR Docker Image Push 완료"

    #     # 슬랙에 메시지 전송
    #     curl -X POST -H 'Content-type: application/json' \
    #     --data '{"text":"'"$SLACK_MESSAGE"'"}' \
    #     $SLACK_WEBHOOK_URL