# goyoai-frontend-system\base_dev\deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: goyoai-gointern-bo-web
  labels:
    app.kubernetes.io/component: goyoai-gointern-bo-web-generator
    app.kubernetes.io/instance: goyoai-gointern-bo-web-generator
    app.kubernetes.io/part-of: goyoai-gointern-bo-web-generator
spec:
  progressDeadlineSeconds: 600
  revisionHistoryLimit: 10
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  replicas: 1
  selector:
    matchLabels:
      app: goyoai-gointern-bo-web-app
  template:
    metadata:
      labels:
        app: goyoai-gointern-bo-web-app
    spec:
      imagePullSecrets:
      - name: harborsecret
      schedulerName: default-scheduler
      dnsPolicy: ClusterFirst
      terminationGracePeriodSeconds: 30
      restartPolicy: Always
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: "goyo-svc"
                operator: In
                values:
                - "gointern-fe"
      tolerations:
      - key: "workload"
        operator: "Equal"
        value: "gointern-fe"
        effect: "NoSchedule"

      containers:
      - name: goyoai-gointern-bo-web-container
        image: 770637673430.dkr.ecr.ap-northeast-2.amazonaws.com/goyoai-gointern-bo-web:e95e154-20231213084356
        ports:
        - containerPort: 3000
          protocol: TCP        
        resources:
          requests:
            cpu: "250m"  
            memory: "500Mi"  
          limits:
            cpu: "500m"  
            memory: "1G"
        startupProbe:
          httpGet:
            path: /
            port: 3000
            scheme: HTTP
          failureThreshold: 30
          periodSeconds: 30
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 3000
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 3000
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
