apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ecommerce
resources:
  - ../../../base/ecommerce-backend
  - configmap_env.yaml
patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: ecommerce-backend
    path: deployment_patches.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: ecommerce-backend
    path: cpu_config.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: ecommerce-backend
    path: replica_config.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: ecommerce-backend
    path: env_patch.yaml
