apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: {{ .Values.project_name }}-manifest
  namespace: tekton-pipelines
spec:
  params:
    - name: container-registry-url
      type: string
    - name: commit-message
      type: string
    - name: kustomize-revision
      type: string
      default: "{{ .Values.kustomize_git_branch }}"
    - name: kustomize-directory
      type: string
      default: "{{ .Values.kustomize_directory }}"
    - name: kustomize-giturl
      type: string
      default: {{ .Values.kustomize_git_url }}
    - name: project-name
      type: string
      default: {{ .Values.project_name }}
    - name: timestamp
      type: string
    - name: git-short-sha
      type: string
  workspaces:
    - name: {{ .Values.project_name }}
  steps:
    - name: clean-workspace
      image: {{ .Values.common_alpine_url }}
      script: |
        #!/bin/sh
        WORKSPACE_PATH=$(workspaces.{{ .Values.project_name }}.path)
        PROJECT_DIR=$WORKSPACE_PATH/$(params.project-name)-manifest
        mkdir -p $PROJECT_DIR
        rm -rf $PROJECT_DIR/.[!.]* $PROJECT_DIR/*
        echo "Workspace cleaned at $PROJECT_DIR"

    - name: setup-kustomize-environment
      image: {{ .Values.common_alpine_git_url }}
      script: |
        #!/bin/sh
        set -e
        WORKSPACE_PATH=$(workspaces.{{ .Values.project_name }}.path)
        PROJECT_DIR=$WORKSPACE_PATH/$(params.project-name)-manifest
        GIT_ROOT_PATH=$PROJECT_DIR

        git config --global user.name "goyoai"
        git config --global user.email "goyo-service_run@goyoai.com"

        if [ ! -d "$GIT_ROOT_PATH/.git" ]; then
          git clone --branch $(params.kustomize-revision) $(params.kustomize-giturl) $GIT_ROOT_PATH
        else
          git -C $GIT_ROOT_PATH fetch origin
          git -C $GIT_ROOT_PATH checkout $(params.kustomize-revision) || git -C $GIT_ROOT_PATH checkout -b $(params.kustomize-revision)
          git -C $GIT_ROOT_PATH reset --hard origin/$(params.kustomize-revision)
        fi

        OVERLAY_PATH="$GIT_ROOT_PATH/$(params.kustomize-directory)"
        mkdir -p $OVERLAY_PATH
        cd $OVERLAY_PATH
        rm -rf $OVERLAY_PATH/*

        cat <<EOF > deployment_patches.yaml
        apiVersion: apps/v1
        kind: Deployment
        metadata:
          name: {{ .Values.project_name }}
        spec:
          template:
            spec:
              containers:
                - name: {{ .Values.project_name }}-container
                  image: $(params.container-registry-url):$(params.git-short-sha)-$(params.timestamp)
        EOF

        git add deployment_patches.yaml
        COMMIT_MESSAGE="$(params.commit-message) with new image tag $(params.git-short-sha)-$(params.timestamp)"
        git commit -m "$COMMIT_MESSAGE"
        git push --force-with-lease origin $(params.kustomize-revision)

    - name: manifest-push-end
      image: {{ .Values.common_alpine_url }}
      # image: alpine
      script: |
        #!/bin/sh
        # Curl installation
        apk add --no-cache curl

        SLACK_WEBHOOK_URL="{{ .Values.slack_webhook_url }}"
        
        SLACK_MESSAGE="{{ .Values.slack_message }}"

        curl -X POST -H 'Content-type: application/json' \
        --data '{"text":"'"$SLACK_MESSAGE"'"}' \
        $SLACK_WEBHOOK_URL