# templates/event-listener.yaml
apiVersion: triggers.tekton.dev/v1beta1
kind: EventListener
metadata:
  name: {{ .Values.project_name }}
  namespace: tekton-pipelines
spec:
  serviceAccountName: {{ .Values.el_serviceAccountName }}
  resources:
    kubernetesResource:
      spec:
        template:
          spec:
            nodeSelector:
              {{ .Values.el_node_selector_key }}: {{ .Values.el_node_selector_value }}
            tolerations:
              - key:  {{ .Values.el_tolerations_key }}
                operator: {{ .Values.el_tolerations_operator }}
                value: {{ .Values.el_tolerations_value }}
                effect: {{ .Values.el_tolerations_effect }}
            containers:
              - resources:
                  requests:
                    memory: "64Mi"
                    cpu: "250m"
                  limits:
                    memory: "128Mi"
                    cpu: "500m"
  triggers:
    - name: {{ .Values.project_name }}-push
      interceptors:
        - ref:
            name: "github"
          params:
            - name: "eventTypes"
              value: ["push"]
        - ref:
            name: "cel"
          params:
            - name: "filter"
              value: |
                body.ref.split('/')[2] in [{{ range $index, $revision := .Values.gitRevisions }}{{ if $index }},{{ end }}'{{ $revision }}'{{ end }}]
            - name: "overlays"
              value:
                - key: sha
                  expression: "body.head_commit.id"
                - key: short_sha
                  expression: "body.head_commit.id.truncate(7)"
                - key: branch_name
                  expression: "body.ref.split('/')[2]"
                - key: module_name
                  expression: "'goyoai-gointern-system'" # ⬅️ 고정값으로 변경
                - key: dockerfile_name
                  expression: "'dockerfile-system-dev'" # ⬅️ 고정값으로 변경
                
      bindings:
        - ref: {{ .Values.project_name }}
      template:
        ref: {{ .Values.project_name }}