# templates/trigger-template.yaml
apiVersion: triggers.tekton.dev/v1beta1
kind: TriggerTemplate
metadata:
  name: {{ .Values.project_name }}
  namespace: tekton-pipelines
spec:
  params:
    - name: gitrevision
      description: The git revision
    - name: gitrepositoryurl
      description: The git repository URL
    - name: git-sha
    - name: git-short-sha
    # - name: deploy-env
    - name: git-repo-name
    - name: module-name
      description: The module to build
    - name: dockerfile-name
      description: Name of the Dockerfile to use
  resourcetemplates:
    - apiVersion: tekton.dev/v1beta1
      kind: PipelineRun
      metadata:
        generateName: goyoai-gointern-system-run- # ⬅️ 이름 고정
        namespace: tekton-pipelines
      spec:
        pipelineRef:
          name: goyoai-gointern-system # ⬅️ 파이프라인 이름 고정
        params:
          - name: giturl
            value: "$(tt.params.gitrepositoryurl)"
          - name: container-registry-url
            value: "{{ .Values.container_registry_url }}"
          - name: container-registry-cache-url
            value: "{{ .Values.container_registry_cache_url }}"
          - name: manifest-file-name
            value: "{{ .Values.manifestFileName }}"
          - name: commit-message
            value: "Update $(tt.params.git-repo-name):$(tt.params.gitrevision) git hash: $(tt.params.git-short-sha) "
          - name: project-name
            value: "$(tt.params.git-repo-name)"
          - name: revision
            value: "$(tt.params.gitrevision)"
          - name: git-short-sha
            value: "$(tt.params.git-short-sha)"
          - name: module-name
            value: "$(tt.params.module-name)"
          - name: dockerfile-name
            value: "$(tt.params.dockerfile-name)"
        workspaces:
          - name: {{ .Values.project_name }}
            emptyDir: {}
        serviceAccountName: tekton-ci-token
        
        podTemplate:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                - matchExpressions:
                  - key: workload-type
                    operator: DoesNotExist
                  - key: {{ .Values.trigger_node_selector_key }}
                    operator: In
                    values:
                    - {{ .Values.trigger_node_selector_value }}
          tolerations:
          - key: {{ .Values.trigger_tolerations_key }}
            operator: {{ .Values.trigger_tolerations_operator }}
            value: {{ .Values.trigger_tolerations_value }}
            effect: {{ .Values.trigger_tolerations_effect }}