apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations: {}
  generateName: goyoai-backend-crawler
  labels:
    goyo-svc: goyoai-backend-crawler 
  namespace: tekton-pipelines
spec:
  params:
    - name: giturl
      value: https://github.com/GoyoAi-Service/goyoai-backend-crawler
    - name: container-registry-url
      value: gdharbor.goyoai.com/goyoai-web/goyoai-backend-crawler-dev
    - name: container-registry-cache-url
      value: gdharbor.goyoai.com/goyoai-web/goyoai-backend-crawler-cache-dev
    - name: manifest-file-name
      value: crawler-manifest.yaml
    - name: commit-message
      value: 'Update goyoai-backend-crawler'
    - name: project-name
      value: goyoai-backend-crawler
    - name: revision
      value: qa
    - name: git-short-sha
      value: crawler
  pipelineRef:
    name: goyoai-backend-crawler
  taskRunTemplate:
    podTemplate:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: service
                    operator: In
                    values:
                      - tools
      nodeSelector:
        service: tools
    serviceAccountName: tekton-ci-token
  timeouts:
    pipeline: 1h0m0s
  workspaces:
    - name: goyoai-backend-crawler
      persistentVolumeClaim:
        claimName: goyoai-backend-crawler
    - name: dockerconfig
      secret:
        secretName: harborcred
