#
# IMPORTANT NOTE
#
# This chart inherits from k8s common library chart. You can check the default values/options here:
# https://github.com/zekker6/helm-charts/blob/main/charts/library/common/values.yaml
#

# -- See the following files for additional environment variables:
# https://github.com/nocodb/nocodb#docker
# @default -- See below

image:
  # -- image repository
  repository: nocodb/nocodb
  # -- image pull policy
  pullPolicy: IfNotPresent
  # -- image tag
  # @default -- chart.appVersion
  tag: 0.264.4

env: #{}
  NC_DB: 'pg://{{ include "common.names.fullname" . }}-postgresql:5432?u={{ .Values.postgresql.auth.username }}&p={{ .Values.postgresql.auth.password }}&d={{ .Values.postgresql.auth.database }}'
  # NC_REDIS_URL: 'redis://nocodb-redis-master.redis.svc.cluster.local:6379/0'

#  NC_DB: 'pg://{{ include "common.names.fullname" . }}-postgresql:5432?u={{ .Values.postgresql.auth.username }}&p={{ .Values.postgresql.auth.password }}&d={{ .Values.postgresql.auth.database }}'


# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  main:
    ports:
      http:
        port: 8080

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See values.yaml
  main:
    enabled: false

affinity: #{}
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: "goyo-svc"
          operator: In
          values:
          - "sentryAMD64"

persistence:
  # -- Configure persistence for data to use sqlite backend.
  # @default -- See values.yaml
  data:
    enabled: true
    mountPath: /usr/app/data/
    accessMode: ReadWriteOnce
    size: 100Mi
    emptyDir:
      enabled: false
    storageClassName: oci-bv

# PostgreSQL Database Configuration
postgresql:
  # Whether to deploy the postgresql chart with this chart. If disabled, make sure PostgreSQL is available at the hostname below and credentials are configured below
  enabled: true

  auth:
    postgresPassword: nocodb
    username: nocodb
    # password: cjiUrkhU1GFSO/IfGvo55n+5k6DjMk9zi40AkoQej2X30Kux
    password: nocodb
    database: nocodb

  architecture: standalone
  primary:
    persistence:
      enabled: false
      size: 100Mi
      accessModes:
        - ReadWriteOnce
      storageClassName: oci-bv
