apiVersion: v1
kind: ConfigMap
metadata:
  name: gointern-system-application-config
data:
  application-prod.yml: |
    # logback 설정 경로를 ConfigMap 마운트 경로로 변경
    logging.config: classpath:logback-spring-prod.xml

    server:
      port: 9195
      servlet:
        session:
          cookie:
            name: SESSION-AUTH
            same-site: none
            secure: true
            domain: goyoai.com

    spring:
      datasource:
        url: ${POSTGRESQL_URL}
        username: ${POSTGRESQL_USERNAME}
        password: ${POSTGRESQL_PASSWORD}
        hikari:
          connectionTimeout: 30000  # 연결을 얻기 위한 대기 시간을 30초로 설정 (기본값은 30초)
          maximumPoolSize: 10       # 커넥션 풀의 최대 크기 (최적화됨)
          minimumIdle: 5            # 유휴 상태로 유지할 최소 연결 수
          idleTimeout: 600000       # 유휴 연결 타임아웃 10분
          maxLifetime: 1800000      # 커넥션의 최대 생명 주기를 30분으로 유지 (기본값 30분)
          poolName: HikariCP        # 풀 이름을 지정
          readOnly: false           # 쓰기 작업이 필요하므로 읽기 전용을 false로 설정
          leak-detection-threshold: 60000  # 커넥션 누수 감지를 위한 시간을 60초로 설정
          data-source-properties:
            rewriteBatchedStatements: true # 여러개의 insert 쿼리를 하나의 쿼리로 변환하여 성능 향상
      data:
        redis:
          host: ${REDIS_HOST}
          port: ${REDIS_PORT}
          # password: ${REDIS_PW}
          lettuce:
            pool:
              max-active: 20
              max-idle: 10
              min-idle: 5
              max-wait: 5s
      cloud:
        openFeign:
          client:
            config:
              default:
                loggerLevel: full
              ai-api:
                connectTimeout: 600000
                readTimeout: 600000
                writeTimeout: 600000
              ai-meeting-api:
                connectTimeout: 300000
                readTimeout: 300000
                writeTimeout: 300000

    internal:
      portal:
        host: ${PORTAL_HOST}
        api-key: ${PORTAL_API_KEY}
        secret-key: ${PORTAL_SECRET_KEY}
      ai:
        host: ${AI_HOST}
        api-key: ${AI_API_KEY}
        voice-host: ""
        query-stream:
          emitter-timeout: 300000
          web-client-timeout: 90      # 웹 클라이언트와 연결을 위한 시간 Ai 서버에서 응답받아야 하는 시간(로컬 300, 운영 90) 90초 내 보장됨.

    external:
      viewer:
        prefix: https://view.officeapps.live.com/op/embed.aspx?src=
      oci:
        user: ${OCI_USER}
        finger-print: ${OCI_FINGER_PRINT}
        tenancy: ${OCI_TENANCY}
        storage:
          name-space: ${OCI_NAME_SPACE}
          general:
            host: https://objectstorage.ap-seoul-1.oraclecloud.com
            bucket-name: prod-gointern-general
            name-space: ${OCI_NAME_SPACE}
          common:
            bucket-name: prod-gointern-common
            content-path: common/
          public:
            content-path: tenant/
          private:
            content-path: individual/
          meeting:
            content-path: minutes/
      msal:
        oauth2:
          host: https://login.microsoftonline.com/common/oauth2/v2.0
          clientId: ${MSAL_CLIENT_ID}
          clientSecret: ${MSAL_CLIENT_SECRET}
          scope: email openid
          redirectUri: ${MSAL_REDIRECT_URI}
        api: https://graph.microsoft.com/v1.0
        sharepoint:
          domain: sharepoint.com
          site_name: go-intern-service
          root_path:
        onedrive:
          root_path: Go_Intern_Files
          docs_path: Docs
          meeting_path: Meeting
      google:
        oauth2:
          host: https://accounts.google.com/o/oauth2/v2/auth
          hostToken: https://oauth2.googleapis.com
          clientId: ${GOOGLE_CLIENT_ID}
          clientSecret: ${GOOGLE_CLIENT_SECRET}
          scope: https://www.googleapis.com/auth/userinfo.email
          redirectUri: ${GOOGLE_REDIRECT_URI}
        api: https://www.googleapis.com
        drive:
          site_name: go-intern-service
          root_path: Go_Intern_Files
          docs_path: Docs
          meeting_path: Meeting
        sheets:
          enabled: true
          spreadsheet-id: ${GOOGLE_SHEETS_SPREADSHEET_ID}
          credentials:
            type: ${GOOGLE_SHEETS_TYPE}
            project-id: ${GOOGLE_SHEETS_PROJECT_ID}
            private-key-id: ${GOOGLE_SHEETS_PRIVATE_KEY_ID}
            private-key: ${GOOGLE_SHEETS_PRIVATE_KEY}
            client-email: ${GOOGLE_SHEETS_CLIENT_EMAIL}
            client-id: ${GOOGLE_SHEETS_SHEETS_CLIENT_ID}
            auth-uri: ${GOOGLE_SHEETS_AUTH_URI}
            token-uri: ${GOOGLE_SHEETS_TOKEN_URI}
            auth-provider-x509-cert-url: ${GOOGLE_SHEETS_AUTH_PROVIDER_CERT_URL}
            client-x509-cert-url: ${GOOGLE_SHEETS_CLIENT_CERT_URL}
            universe-domain: ${GOOGLE_SHEETS_UNIVERSE_DOMAIN}
          sheet-names: login,main,settings,app,common,ui-gointern,admin,backend,exception
          sync-interval-minutes: 60
      apple:
        oauth2:
          host: https://appleid.apple.com/auth/authorize
          clientId: ${APPLE_CLIENT_ID}
          response_mode: form_post
          response_type: code id_token
          scope: name email
          redirectUri: ${APPLE_REDIRECT_URI}
          state: goyoai
      amplitude:
        api-key: ${AMPLITUDE_API_KEY}
        secret-key: ${AMPLITUDE_SECRET_KEY}
      hecto-financial:
        host:
          ui: None
          uiNon: None
          nsPay: None
      slack:
        webhook-url: ${SLACK_WEBHOOK_URL}
        webhook-critical-url: ${SLACK_WEBHOOK_CRITICAL_URL}
      uclick:
        ai:
          host: ${UCLICK_HOST}
          x-api-key: ${UCLICK_X_API_KEY}
          query-stream:
            emitter-timeout: 300000
            web-client-timeout: 300

    cors:
      origins: https://*.goyoai.com, https://appleid.apple.com

    cryptography:
      default:
        secret-key: ${CRYPTO_DEFAULT_SECRET_KEY}
      signature:
        api-key: ${CRYPTO_SIGNATURE_API_KEY}
        secret-key: ${CRYPTO_SIGNATURE_SECRET_KEY}
      privacy:
        password: ${CRYPTO_PRIVACY_PASSWORD}
        salt: ${CRYPTO_PRIVACY_SALT}
        iv: ${CRYPTO_PRIVACY_IV}

    i18n:
      default-locale: ko
      supported-locales: ko,en
      header-name: Accept-Language
      cookie-name: locale


    management:
      server:
        port: 9292
      endpoints:
        web:
          exposure:
            include: health,prometheus,metrics
          base-path: /actuator
      endpoint:
        health:
          show-details: when-authorized
          probes:
            enabled: true
          prometheus:
            enabled: true
      metrics:
        tags:
          application: ${spring.application.name}
          environment: prod
          cluster: prod
        distribution:
          percentiles-histogram:
            http:
              server:
                requests: true
          minimum-expected-value: 
            http.server.requests: 5ms
          maximum-expected-value:
            http.server.requests: 1000ms
        enable:
          all: true
      springdoc:
        api-docs:
          path: /v3/api-docs  # API 문서의 경로를 커스터마이즈
        swagger-ui:
          path: /docs/index.html
