# 기존 구조와 호환되는 파이프라인들
# templates/pipelines.yaml

# System 파이프라인
---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: goyoai-gointern-system
  namespace: tekton-pipelines
  labels:
    {{- include "backend-system.labels" . | nindent 4 }}
    module: system
spec:
  params:
    - name: giturl
      type: string
    - name: container-registry-url
      type: string
    - name: container-registry-cache-url
      type: string
    - name: revision
      type: string
    - name: manifest-file-name
      type: string
    - name: commit-message
      type: string
      default: "{{ .Values.commitMessage }}"
    - name: project-name
      type: string
    - name: git-short-sha
      type: string
    - name: module-name
      type: string
    - name: dockerfile-name
      type: string
  workspaces:
    - name: {{ .Values.project_name }}

  tasks:
    - name: generate-timestamp
      taskRef:
        name: generate-timestamp
      params:
        - name: project-name
          value: $(params.project-name)

    - name: clone-repository
      taskRef:
        name: {{ .Values.project_name }}-git-clone
      params:
        - name: giturl
          value: $(params.giturl)
        - name: revision
          value: $(params.revision)
        - name: project-name
          value: $(params.project-name)
        - name: module-name
          value: $(params.module-name)
      runAfter: ["generate-timestamp"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}

    - name: build-container-image
      taskRef:
        name: {{ .Values.system_build_task_name }}
      params:
        - name: container-registry-url
          value: $(params.container-registry-url)
        - name: container-registry-cache-url
          value: $(params.container-registry-cache-url)
        - name: project-name
          value: $(params.project-name)
        - name: timestamp
          value: $(tasks.generate-timestamp.results.timestamp)
        - name: git-short-sha
          value: $(params.git-short-sha)
        - name: module-name
          value: $(params.module-name)
        - name: dockerfile-name
          value: $(params.dockerfile-name)
      runAfter: ["clone-repository"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}

    - name: manifest-git-push
      taskRef:
        name: {{ .Values.project_name }}-manifest
      params:
        - name: manifest-file-name
          value: $(params.manifest-file-name)
        - name: container-registry-url
          value: $(params.container-registry-url)
        - name: commit-message
          value: $(params.commit-message)
        - name: revision
          value: $(params.revision)
        - name: project-name
          value: $(params.project-name)
        - name: timestamp
          value: $(tasks.generate-timestamp.results.timestamp)
        - name: git-short-sha
          value: $(params.git-short-sha)
        - name: module-name
          value: $(params.module-name)
      runAfter: ["build-container-image"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}

# Portal 파이프라인
---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: goyoai-gointern-portal
  namespace: tekton-pipelines
  labels:
    {{- include "backend-system.labels" . | nindent 4 }}
    module: portal
spec:
  params:
    - name: giturl
      type: string
    - name: container-registry-url
      type: string
    - name: container-registry-cache-url
      type: string
    - name: revision
      type: string
    - name: manifest-file-name
      type: string
    - name: commit-message
      type: string
      default: "{{ .Values.commitMessage }}"
    - name: project-name
      type: string
    - name: git-short-sha
      type: string
    - name: module-name
      type: string
    - name: dockerfile-name
      type: string
  workspaces:
    - name: {{ .Values.project_name }}

  tasks:
    - name: generate-timestamp
      taskRef:
        name: generate-timestamp
      params:
        - name: project-name
          value: $(params.project-name)

    - name: clone-repository
      taskRef:
        name: {{ .Values.project_name }}-git-clone
      params:
        - name: giturl
          value: $(params.giturl)
        - name: revision
          value: $(params.revision)
        - name: project-name
          value: $(params.project-name)
        - name: module-name
          value: $(params.module-name)
      runAfter: ["generate-timestamp"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}

    - name: build-container-image
      taskRef:
        name: {{ .Values.portal_build_task_name }}
      params:
        - name: container-registry-url
          value: $(params.container-registry-url)
        - name: container-registry-cache-url
          value: $(params.container-registry-cache-url)
        - name: project-name
          value: $(params.project-name)
        - name: timestamp
          value: $(tasks.generate-timestamp.results.timestamp)
        - name: git-short-sha
          value: $(params.git-short-sha)
        - name: module-name
          value: $(params.module-name)
        - name: dockerfile-name
          value: $(params.dockerfile-name)
      runAfter: ["clone-repository"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}

    - name: manifest-git-push
      taskRef:
        name: {{ .Values.project_name }}-manifest
      params:
        - name: manifest-file-name
          value: $(params.manifest-file-name)
        - name: container-registry-url
          value: $(params.container-registry-url)
        - name: commit-message
          value: $(params.commit-message)
        - name: revision
          value: $(params.revision)
        - name: project-name
          value: $(params.project-name)
        - name: timestamp
          value: $(tasks.generate-timestamp.results.timestamp)
        - name: git-short-sha
          value: $(params.git-short-sha)
        - name: module-name
          value: $(params.module-name)
      runAfter: ["build-container-image"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}

# Aify 파이프라인
---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: goyoai-gointern-aify
  namespace: tekton-pipelines
  labels:
    {{- include "backend-system.labels" . | nindent 4 }}
    module: aify
spec:
  params:
    - name: giturl
      type: string
    - name: container-registry-url
      type: string
    - name: container-registry-cache-url
      type: string
    - name: revision
      type: string
    - name: manifest-file-name
      type: string
    - name: commit-message
      type: string
      default: "{{ .Values.commitMessage }}"
    - name: project-name
      type: string
    - name: git-short-sha
      type: string
    - name: module-name
      type: string
    - name: dockerfile-name
      type: string
  workspaces:
    - name: {{ .Values.project_name }}

  tasks:
    - name: generate-timestamp
      taskRef:
        name: generate-timestamp
      params:
        - name: project-name
          value: $(params.project-name)

    - name: clone-repository
      taskRef:
        name: {{ .Values.project_name }}-git-clone
      params:
        - name: giturl
          value: $(params.giturl)
        - name: revision
          value: $(params.revision)
        - name: project-name
          value: $(params.project-name)
        - name: module-name
          value: $(params.module-name)
      runAfter: ["generate-timestamp"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}

    - name: build-container-image
      taskRef:
        name: {{ .Values.aify_build_task_name }}
      params:
        - name: container-registry-url
          value: $(params.container-registry-url)
        - name: container-registry-cache-url
          value: $(params.container-registry-cache-url)
        - name: project-name
          value: $(params.project-name)
        - name: timestamp
          value: $(tasks.generate-timestamp.results.timestamp)
        - name: git-short-sha
          value: $(params.git-short-sha)
        - name: module-name
          value: $(params.module-name)
        - name: dockerfile-name
          value: $(params.dockerfile-name)
      runAfter: ["clone-repository"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}

    - name: manifest-git-push
      taskRef:
        name: {{ .Values.project_name }}-manifest
      params:
        - name: manifest-file-name
          value: $(params.manifest-file-name)
        - name: container-registry-url
          value: $(params.container-registry-url)
        - name: commit-message
          value: $(params.commit-message)
        - name: revision
          value: $(params.revision)
        - name: project-name
          value: $(params.project-name)
        - name: timestamp
          value: $(tasks.generate-timestamp.results.timestamp)
        - name: git-short-sha
          value: $(params.git-short-sha)
        - name: module-name
          value: $(params.module-name)
      runAfter: ["build-container-image"]
      workspaces:
        - name: {{ .Values.project_name }}
          workspace: {{ .Values.project_name }}
