apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: harbor-buffer
  namespace: traefik
spec:
  buffering:
    maxRequestBodyBytes: 1000000000  # ~1GB
    memRequestBodyBytes: 50000000    # 50MB in memory
    maxResponseBodyBytes: 1000000000
    memResponseBodyBytes: 50000000
    retryExpression: "IsNetworkError() && Attempts() < 3"