deployment:
  replicas: 2
logs:
  general:
    level: DEBUG  # Sets the log level to DEBUG
  access:
    enabled: true
service:
  enabled: true
  single: true  # Uses a single service for both TCP and UDP when set to true
  type: LoadBalancer
  annotations:
    oci.oraclecloud.com/load-balancer-type: "lb"
    oci.oraclecloud.com/oci-network-security-groups: "ocid1.networksecuritygroup.oc1.ap-seoul-1.aaaaaaaaexo7gynfwanur3aomjordld2gswbg6aqexy3w5pujwsyqebbwarq"
    service.beta.kubernetes.io/oci-load-balancer-security-list-management-mode: "None"
    service.beta.kubernetes.io/oci-load-balancer-shape: "flexible"
    service.beta.kubernetes.io/oci-load-balancer-shape-flex-min: "100"
    service.beta.kubernetes.io/oci-load-balancer-shape-flex-max: "200"
    # service.beta.kubernetes.io/oci-load-balancer-tls-backendset-secret: noco-tls-secret
    oci.oraclecloud.com/node-label-selector: goyo-svc=web-apps  
    initial-freeform-tags-override: '{"Name": "goyoai-tools-traefik"}'
    service.beta.kubernetes.io/oci-load-balancer-ssl-ports: "443"
    # service.beta.kubernetes.io/oci-load-balancer-tls-secret: "goyoai-webs-tls"
    # service.beta.kubernetes.io/oci-load-balancer-tls-secret: nocodb/nocodb-tls
    # service.beta.kubernetes.io/oci-load-balancer-backend-protocol: "HTTP"

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: "goyo-svc"
          operator: In
          values:
          - "web-apps"

providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
  kubernetesIngress:
    namespaces:
    - traefik,goyoai-web

ports:
  otlp-grpc:    # OTLP gRPC용 포트
    port: 4317
    expose: 
      default: true
    exposedPort: 4317
    protocol: TCP
  otlp-http:    # OTLP HTTP용 포트
    port: 4318
    expose: 
      default: true
    exposedPort: 4318
    protocol: TCP
  web:
    transport:
      respondingTimeouts:
        readTimeout: 300s
        writeTimeout: 300s
        idleTimeout: 300s
  websecure:
    transport:
      respondingTimeouts:
        readTimeout: 300s
        writeTimeout: 300s
        idleTimeout: 300s