apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: {{ .Values.project_name }}-gitops-pipeline
  namespace: {{ .Values.namespace }}
spec:
  params:
    - name: app-name
      type: string
    - name: image-tag
      type: string
    - name: registry
      type: string
    - name: namespace-env
      type: string
    - name: kustomize-git-url
      type: string
    - name: kustomize-git-branch
      type: string
    - name: kustomize-directory
      type: string
  
  workspaces:
    - name: gitops-source
  
  tasks:
    - name: update-gitops-manifest
      taskRef:
        name: {{ .Values.project_name }}-update-gitops
      params:
        - name: app-name
          value: $(params.app-name)
        - name: image-tag
          value: $(params.image-tag)
        - name: registry
          value: $(params.registry)
        - name: namespace-env
          value: $(params.namespace-env)
        - name: kustomize-git-url
          value: $(params.kustomize-git-url)
        - name: kustomize-git-branch
          value: $(params.kustomize-git-branch)
        - name: kustomize-directory
          value: $(params.kustomize-directory)
      workspaces:
        - name: gitops-source
          workspace: gitops-source