apiVersion: v1
kind: ConfigMap
metadata:
  name: gointern-backoffice-application-config
data:
  application-prod.yml: |
    logging.config: classpath:logback-spring-prod.xml

    spring:
      datasource:
        url: ${POSTGRESQL_URL}
        username: ${POSTGRESQL_USERNAME}
        password: ${POSTGRESQL_PASSWORD}
        hikari:
          connectionTimeout: 30000
          maximumPoolSize: 5
          minimumIdle: 2
          idleTimeout: 600000
          maxLifetime: 1800000
          poolName: HikariCP
          readOnly: false
      data:
        redis:
          host: ${REDIS_HOST}
          port: ${REDIS_PORT}
          # password: ${REDIS_PW}
          lettuce:
            pool:
              max-active: 20
              max-idle: 10
              min-idle: 5
              max-wait: 5s

    external:
      oci:
        tenancy: ${OCI_TENANCY}
        object-storage:
          ocid: ${OCI_OCID}
          fingerprint: ${OCI_FINGERPRINT}
          api-key: ${OCI_API_KEY}
          namespace: ${OCI_NAMESPACE}
          buckets:
            general:
              name: prod-gointern-general
              objects:
                meta_info: application/meta_info.json
      slack:
        webhook-url: ${SLACK_WEBHOOK_URL}
        webhook-critical-url: ${SLACK_WEBHOOK_CRITICAL_URL}

    cors:
      origins: http*://localhost:*, http*://*.go-intern.io, http*://*.go-intern.io:*

    cryptography:
      default:
        secret-key: ${CRYPTO_DEFAULT_SECRET_KEY}
      privacy:
        password: ${CRYPTO_PRIVACY_PASSWORD}
        salt: ${CRYPTO_PRIVACY_SALT}
        iv: ${CRYPTO_PRIVACY_IV}
        
    logging:
      config: classpath:logback-spring-prod.xml
      pattern:
        level: "%5p [%X{traceId:-},%X{spanId:-}]"

    management:
      server:
        port: 9292
      endpoints:
        web:
          exposure:
            include: health,prometheus,metrics,info,loggers
          base-path: /actuator
      tracing:
        enabled: true
        sampling:
          probability: 1.0
        propagation:
          type: w3c
      metrics:
        tags:
          application: ${spring.application.name}
          environment: ${spring.profiles.active}
        distribution:
          percentiles-histogram:
            http.server.requests: true
        enable:
          all: true
