apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: postgresql-tcp
  namespace: traefik
spec:
  entryPoints:
    - postgresql # Traefik에 postgresql entryPoint가 정의되어 있어야 함
  routes:
    - match: "HostSNI(`*`)" # TCP 라우팅은 SNI 매칭 사용
      # kind: Rule
      services:
        - name: goyo-postgresql
          namespace: postgresql
          port: 5432
  # tls:  # TLS 설정 추가
  #   passthrough: true  # TLS 연결을 그대로 통과