
commonSettings: &commonSettings
  nodeSelector:
    goyo-svc: monitoring

  tolerations:
    - key: "goyo-svc"
      operator: "Equal"
      value: "monitoring"
      effect: "NoSchedule"

enterprise:
  enabled: false
  legacyLabels: false

admin_api:
  replicas: 1
  <<: *commonSettings

alertmanager:
  replicas: 1
  <<: *commonSettings

compactor:
  replicas: 1
  <<: *commonSettings

distributor:
  replicas: 1
  <<: *commonSettings

ingester:
  replicas: 2
  <<: *commonSettings
  zoneAwareReplication:
    enabled: true
    zones:
      - name: zone-a
        <<: *commonSettings
      - name: zone-b
        <<: *commonSettings
      - name: zone-c
        <<: *commonSettings

querier:
  replicas: 1
  <<: *commonSettings

query_frontend:
  replicas: 1
  <<: *commonSettings

ruler:
  replicas: 1
  <<: *commonSettings

store_gateway:
  replicas: 1
  <<: *commonSettings
  zoneAwareReplication:
    enabled: false

gateway:
  enabledNonEnterprise: true
  replicas: 1
  <<: *commonSettings
minio:
  enabled: false
  
mimir:
  structuredConfig:
    limits:
      max_global_series_per_user: 2000000
      ingestion_rate: 400000
      ingestion_burst_size: 8000000
    common:
      storage:
        backend: s3
        s3:
          bucket_name: mimir-bucket-prd
          endpoint: cn7ipyag4bte.compat.objectstorage.ap-seoul-1.oraclecloud.com
          access_key_id: 4b8eb9627f942003c8b3d6b66fc6f6caefcb1b9a
          secret_access_key: "+hULmOEAxJI7sgAHZoGBow53K3EQsGbc52thwJKP7X8="
          region: ap-seoul-1
          http:
            insecure_skip_verify: true
    ruler_storage:
      backend: s3
      s3:
        bucket_name: mimir-ruler-bucket-prd  # 다른 버킷 이름 사용
        endpoint: cn7ipyag4bte.compat.objectstorage.ap-seoul-1.oraclecloud.com
        access_key_id: 4b8eb9627f942003c8b3d6b66fc6f6caefcb1b9a
        secret_access_key: "+hULmOEAxJI7sgAHZoGBow53K3EQsGbc52thwJKP7X8="
        region: ap-seoul-1
        http:
          insecure_skip_verify: true

    alertmanager_storage:
      backend: s3
      s3:
        bucket_name: mimir-alertmanager-bucket-prd  # 다른 버킷 이름 사용
        endpoint: cn7ipyag4bte.compat.objectstorage.ap-seoul-1.oraclecloud.com
        access_key_id: 4b8eb9627f942003c8b3d6b66fc6f6caefcb1b9a
        secret_access_key: "+hULmOEAxJI7sgAHZoGBow53K3EQsGbc52thwJKP7X8="
        region: ap-seoul-1
        http:
          insecure_skip_verify: true

    blocks_storage:
      backend: s3
      s3:
        bucket_name: mimir-blocks-bucket-prd  # 다른 버킷 이름 사용
        endpoint: cn7ipyag4bte.compat.objectstorage.ap-seoul-1.oraclecloud.com
        access_key_id: 4b8eb9627f942003c8b3d6b66fc6f6caefcb1b9a
        secret_access_key: "+hULmOEAxJI7sgAHZoGBow53K3EQsGbc52thwJKP7X8="
        region: ap-seoul-1
        http:
          insecure_skip_verify: true
nginx:
  enabled: false
  replicas: 1
  <<: *commonSettings
  
# Chunks cache settings
chunks-cache:
  enabled: true
  replicas: 1
  allocatedMemory: 8192
  maxItemMemory: 64
  connectionLimit: 16384
  <<: *commonSettings

# Index cache settings
index-cache:
  enabled: true
  replicas: 1
  allocatedMemory: 2048
  maxItemMemory: 16
  connectionLimit: 16384
  <<: *commonSettings

# Metadata cache settings
metadata-cache:
  enabled: true
  replicas: 1
  allocatedMemory: 512
  maxItemMemory: 16
  connectionLimit: 16384
  <<: *commonSettings

# Results cache settings
results-cache:
  enabled: true
  replicas: 1
  allocatedMemory: 1024
  maxItemMemory: 16
  connectionLimit: 16384
  <<: *commonSettings

# metaMonitoring:
#   grafanaAgent:
#     logs:
#       remote:
#         url: "http://goyo-mimir-distributed-gateway.lgtm.svc:80/api/v1/push"