apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.project_name }}-gradle-cache-system
  namespace: tekton-pipelines
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.storage_ClassName}}
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.project_name }}-gradle-cache-portal
  namespace: tekton-pipelines
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.storage_ClassName}}
  resources:
    requests:
      storage: 5Gi