apiVersion: v1
kind: ConfigMap
metadata:
  name: aify-system-vault-config
  namespace: goyoai-web
data:
  vault-agent.hcl: |
    auto_auth {
      method {
        type = "kubernetes"
        mount_path = "auth/kubernetes"
        config = {
          role = "goyoai"
        }
      }
      
      sink {
        type = "file"
        config = {
          path = "/home/vault/.vault-token"
        }
      }
    }
    
    exit_after_auth = false
    
    vault {
      address = "http://goyo-vault.vault.svc:8200"
    }
    
    template {
      destination = "/vault/secrets/app.env"
      contents = <<EOT
    {{- with secret "gointern-backend-system/data/postgresql" -}}
    export POSTGRESQL_URL={{ .Data.data.aify_url | printf "%q" }}
    export POSTGRESQL_USERNAME={{ .Data.data.username | printf "%q" }}
    export POSTGRESQL_PASSWORD={{ index .Data.data "password" | printf "%q" }}
    {{ end -}}
    
    {{- with secret "gointern-backend-system/data/redis" -}}
    export REDIS_HOST={{ .Data.data.aify_backend_host | printf "%q" }}
    export REDIS_PORT={{ .Data.data.port | printf "%q" }}
    export REDIS_PW={{ .Data.data.aify_backend_pw | printf "%q" }}
    {{ end -}}
    
    {{- with secret "gointern-backend-system/data/internal/portal" -}}
    export PORTAL_HOST={{ index .Data.data "host" | printf "%q" }}
    export PORTAL_API_KEY={{ index .Data.data "api-key" | printf "%q" }}
    export PORTAL_SECRET_KEY={{ index .Data.data "secret-key" | printf "%q" }}
    {{ end -}}
    
    {{- with secret "gointern-backend-system/data/internal/ai" -}}
    export AI_HOST={{ .Data.data.host | printf "%q" }}
    export AI_API_KEY={{ index .Data.data "api-key" | printf "%q" }}
    {{ end -}}
    
    {{- with secret "gointern-backend-system/data/external/oci" -}}
    export OCI_USER={{ .Data.data.user | printf "%q" }}
    export OCI_FINGER_PRINT={{ index .Data.data "finger-print" | printf "%q" }}
    export OCI_TENANCY={{ .Data.data.tenancy | printf "%q" }}
    export OCI_NAME_SPACE={{ index .Data.data "name-space" | printf "%q" }}
    {{ end -}}
    
    {{- with secret "gointern-backend-system/data/external/msal" -}}
    export MSAL_CLIENT_ID={{ .Data.data.aify_clientId | printf "%q" }}
    export MSAL_CLIENT_SECRET={{ .Data.data.aify_clientSecret | printf "%q" }}
    export MSAL_REDIRECT_URI={{ index .Data.data "aify_redirectUri" | printf "%q" }}
    {{ end -}}
    
    {{- with secret "gointern-backend-system/data/external/google" -}}
    export GOOGLE_CLIENT_ID={{ .Data.data.aify_clientId | printf "%q" }}
    export GOOGLE_CLIENT_SECRET={{ .Data.data.aify_clientSecret | printf "%q" }}
    export GOOGLE_REDIRECT_URI={{ index .Data.data "aify_redirectUri" | printf "%q" }}
    export GOOGLE_SHEETS_SPREADSHEET_ID={{ index .Data.data "spreadsheet-id" | printf "%q" }}
    export GOOGLE_SHEETS_TYPE={{ index .Data.data "type" | printf "%q" }}
    export GOOGLE_SHEETS_PROJECT_ID={{ index .Data.data "project-id" | printf "%q" }}
    export GOOGLE_SHEETS_PRIVATE_KEY_ID={{ index .Data.data "private-key-id" | printf "%q" }}
    export GOOGLE_SHEETS_PRIVATE_KEY={{ index .Data.data "private-key" | printf "%q" }}
    export GOOGLE_SHEETS_CLIENT_EMAIL={{ index .Data.data "client-email" | printf "%q" }}
    export GOOGLE_SHEETS_SHEETS_CLIENT_ID={{ index .Data.data "client-id" | printf "%q" }}
    export GOOGLE_SHEETS_AUTH_URI={{ index .Data.data "auth-uri" | printf "%q" }}
    export GOOGLE_SHEETS_TOKEN_URI={{ index .Data.data "token-uri" | printf "%q" }}
    export GOOGLE_SHEETS_AUTH_PROVIDER_CERT_URL={{ index .Data.data "auth-provider-x509-cert-url" | printf "%q" }}
    export GOOGLE_SHEETS_CLIENT_CERT_URL={{ index .Data.data "aify_client-x509-cert-url" | printf "%q" }}
    export GOOGLE_SHEETS_UNIVERSE_DOMAIN={{ index .Data.data "universe-domain" | printf "%q" }}
    {{ end -}}
    
    {{- with secret "gointern-backend-system/data/external/amplitude" -}}
    export AMPLITUDE_API_KEY={{ index .Data.data "api-key" | printf "%q" }}
    export AMPLITUDE_SECRET_KEY={{ index .Data.data "secret-key" | printf "%q" }}
    {{ end -}}
    
    {{- with secret "gointern-backend-system/data/external/apple" -}}
    export APPLE_CLIENT_ID={{ index .Data.data "clientId" | printf "%q" }}
    export APPLE_REDIRECT_URI={{ index .Data.data "aify_redirectUri" | printf "%q" }}
    export APPLE_STATE={{ index .Data.data "state" | printf "%q" }}
    {{ end -}}

    {{- with secret "gointern-backend-system/data/external/slack" -}}
    export SLACK_WEBHOOK_URL={{ index .Data.data "webhook-url" | printf "%q" }}
    export SLACK_WEBHOOK_CRITICAL_URL={{ index .Data.data "webhook-critical-url" | printf "%q" }}
    {{ end -}}
    
    {{- with secret "gointern-backend-system/data/cryptography/default" -}}
    export CRYPTO_DEFAULT_SECRET_KEY={{ index .Data.data "secret-key" | printf "%q" }}
    {{ end -}}
    
    {{- with secret "gointern-backend-system/data/cryptography/signature" -}}
    export CRYPTO_SIGNATURE_API_KEY={{ index .Data.data "api-key" | printf "%q" }}
    export CRYPTO_SIGNATURE_SECRET_KEY={{ index .Data.data "secret-key" | printf "%q" }}
    {{ end -}}
    
    {{- with secret "gointern-backend-system/data/cryptography/privacy" -}}
    export CRYPTO_PRIVACY_PASSWORD={{ .Data.data.password | printf "%q" }}
    export CRYPTO_PRIVACY_SALT={{ .Data.data.salt | printf "%q" }}
    export CRYPTO_PRIVACY_IV={{ .Data.data.iv | printf "%q" }}
    {{ end -}}

    {{- /* Kakao Setting */ -}}
    {{- with secret "gointern-backend-system/data/kakao" -}}
    export KAKAO_JAVASCRIPT_KEY={{ index .Data.data "javascript-key" | printf "%q" }}
    export KAKAO_CHANNEL_PUBLIC_ID={{ index .Data.data "channel-public-id" | printf "%q" }}
    {{ end -}}

    {{- /* Hecto Financial (Common) */ -}}
    {{- with secret "gointern-backend-system/data/external/hecto-financial/common" -}}
    export HECTO_MCHT_NAME={{ .Data.data.mchtName | printf "%q" }}
    export HECTO_MCHT_ENAME={{ .Data.data.mchtEName | printf "%q" }}
    export HECTO_NOTI_URL={{ .Data.data.notiUrl | printf "%q" }}
    export HECTO_NEXT_URL={{ .Data.data.nextUrl | printf "%q" }}
    export HECTO_CANC_URL={{ .Data.data.cancUrl | printf "%q" }}
    {{ end -}}

    {{- /* Hecto Financial (Subscription) */ -}}
    {{- with secret "gointern-backend-system/data/external/hecto-financial/payment/subscription" -}}
    export HECTO_SUB_MCHT_ID={{ .Data.data.mchtId | printf "%q" }}
    export HECTO_SUB_METHOD={{ .Data.data.method | printf "%q" }}
    export HECTO_SUB_LICENCE_KEY={{ .Data.data.licenceKey | printf "%q" }}
    export HECTO_SUB_AES256_KEY={{ .Data.data.aes256Key | printf "%q" }}
    {{ end -}}

    {{- /* Hecto Financial (Bill Key Only) */ -}}
    {{- with secret "gointern-backend-system/data/external/hecto-financial/payment/bill-key-only" -}}
    export HECTO_BILL_MCHT_ID={{ .Data.data.mchtId | printf "%q" }}
    export HECTO_BILL_LICENCE_KEY={{ .Data.data.licenceKey | printf "%q" }}
    export HECTO_BILL_AES256_KEY={{ .Data.data.aes256Key | printf "%q" }}
    {{ end -}}

    {{- /* Hecto Financial (Simplicity A) */ -}}
    {{- with secret "gointern-backend-system/data/external/hecto-financial/payment/simplicity-a" -}}
    export HECTO_SIMPLE_A_MCHT_ID={{ .Data.data.mchtId | printf "%q" }}
    export HECTO_SIMPLE_A_METHOD={{ .Data.data.method | printf "%q" }}
    export HECTO_SIMPLE_A_NOTI_URL={{ .Data.data.notiUrl | printf "%q" }}
    export HECTO_SIMPLE_A_LICENCE_KEY={{ .Data.data.licenceKey | printf "%q" }}
    export HECTO_SIMPLE_A_AES256_KEY={{ .Data.data.aes256Key | printf "%q" }}
    {{ end -}}

    {{- /* Hecto Financial (Simplicity B) */ -}}
    {{- with secret "gointern-backend-system/data/external/hecto-financial/payment/simplicity-b" -}}
    export HECTO_SIMPLE_B_MCHT_ID={{ .Data.data.mchtId | printf "%q" }}
    export HECTO_SIMPLE_B_METHOD={{ .Data.data.method | printf "%q" }}
    export HECTO_SIMPLE_B_NOTI_URL={{ .Data.data.notiUrl | printf "%q" }}
    export HECTO_SIMPLE_B_LICENCE_KEY={{ .Data.data.licenceKey | printf "%q" }}
    export HECTO_SIMPLE_B_AES256_KEY={{ .Data.data.aes256Key | printf "%q" }}
    {{ end -}}
    EOT
    }
    
    template_config {
      exit_on_retry_failure = true
    }
