apiVersion: v1
kind: ConfigMap
metadata:
  name: gointern-message-vault-config
  namespace: goyoai-web
data:
  vault-agent.hcl: |
    auto_auth {
      method {
        type = "kubernetes"
        mount_path = "auth/kubernetes"
        config = {
          role = "goyoai"
        }
      }
      
      sink {
        type = "file"
        config = {
          path = "/home/vault/.vault-token"
        }
      }
    }
    
    exit_after_auth = false
    
    vault {
      address = "http://goyo-vault.vault.svc:8200"
    }
    
    template {
      destination = "/vault/secrets/app.env"
      contents = <<EOT
    {{- with secret "gointern-backend-system/data/postgresql" -}}
    export POSTGRESQL_URL={{ .Data.data.gointern_url | printf "%q" }}
    export POSTGRESQL_USERNAME={{ .Data.data.username | printf "%q" }}
    export POSTGRESQL_PASSWORD={{ index .Data.data "password" | printf "%q" }}
    {{ end -}}
    
    {{- with secret "gointern-backend-system/data/redis" -}}
    export REDIS_HOST={{ .Data.data.gointern_backend_host | printf "%q" }}
    export REDIS_PORT={{ .Data.data.port | printf "%q" }}
    export REDIS_PW={{ .Data.data.gointern_backend_pw | printf "%q" }}
    {{ end -}}

    {{- with secret "gointern-backend-system/data/cryptography/privacy" -}}
    export CRYPTO_PRIVACY_PASSWORD={{ .Data.data.password | printf "%q" }}
    export CRYPTO_PRIVACY_SALT={{ .Data.data.salt | printf "%q" }}
    export CRYPTO_PRIVACY_IV={{ .Data.data.iv | printf "%q" }}
    {{ end -}}

    {{- with secret "gointern-backend-system/data/external/slack" -}}
    export SLACK_WEBHOOK_URL={{ index .Data.data "webhook-url" | printf "%q" }}
    export SLACK_WEBHOOK_CRITICAL_URL={{ index .Data.data "webhook-critical-url" | printf "%q" }}
    {{ end -}}
    EOT
    }
    
    template_config {
      exit_on_retry_failure = true
    }