apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: hyper-report-frontend-web-manifest
  namespace: tekton-pipelines
spec:
  params:
    - name: replicas
      type: string
      default: "4"
    - name: cpu_request
      type: string
      default: "300m"
    - name: memory_request
      type: string
      default: "500Mi"
    - name: cpu_limit
      type: string
      default: "1000m"
    - name: memory_limit
      type: string
      default: "2Gi"
    - name: ocir-url
      type: string
    - name: commit-message
      type: string
    - name: kustomize-revision
      type: string
      default: "hyper-report-frontend-web"
    - name: kustomize-giturl
      type: string
      default: https://github.com/PROJECT-HYPER-REPORT/hyper-report-manifest-deploy.git
    - name: project-name
      type: string
      default: hyper-report-prd
    - name: timestamp
      type: string
    - name: git-short-sha
      type: string
  workspaces:
    - name: manifests
  steps:
    - name: clean-workspace
      image: icn.ocir.io/cntwrbo3mm3p/alpine-linux:3.19.1
      # image: alpine
      script: |
        #!/bin/sh
        WORKSPACE_PATH=$(workspaces.hyper-report-web.path)
        PROJECT_DIR=$WORKSPACE_PATH/$(params.project-name)-manifest
        # Create project directory if not exists
        mkdir -p $PROJECT_DIR
        # Clean the workspace
        rm -rf $PROJECT_DIR/.[!.]* $PROJECT_DIR/*
        if [ "$(ls -A $PROJECT_DIR)" ]; then
          echo "Project directory is not empty after cleaning."
          ls -al $PROJECT_DIR
          exit 1
        else
          echo "Project directory is now clean."
        fi

    - name: setup-kustomize-environment
      image: alpine/git
      script: |
        #!/bin/sh
        set -e
        WORKSPACE_PATH=$(workspaces.manifests.path)
        PROJECT_DIR=$WORKSPACE_PATH/$(params.project-name)-manifest
        GIT_ROOT_PATH=$PROJECT_DIR

        # Configure Git
        git config --global user.name "bbrick"
        git config --global user.email "sukim@bbrick.com"

        # Clone the repository or fetch the latest changes
        if [ ! -d "$GIT_ROOT_PATH/.git" ]; then
          git clone --branch $(params.kustomize-revision) $(params.kustomize-giturl) $GIT_ROOT_PATH
        else
          git -C $GIT_ROOT_PATH fetch origin
          git -C $GIT_ROOT_PATH checkout $(params.kustomize-revision) || git -C $GIT_ROOT_PATH checkout -b $(params.kustomize-revision)
          git -C $GIT_ROOT_PATH reset --hard origin/$(params.kustomize-revision)
        fi

        # Navigate to the overlay directory to perform file operations
        OVERLAY_PATH="$GIT_ROOT_PATH/$(params.kustomize-revision)/overlays/qa"
        mkdir -p $OVERLAY_PATH
        cd $OVERLAY_PATH
        rm -rf $OVERLAY_PATH/*
        echo "Overlay path is ready."
        # Navigate to the overlay directory to perform file operations

        # Update the Kustomize overlay files        
        cat <<EOF > deployment_patches.yaml
        apiVersion: apps/v1
        kind: Deployment
        metadata:
          name: hyper-report-frontend-web
        spec:
          template:
            spec:
              containers:
                - name: hyper-report-frontend-web-container
                  image: $(params.ocir-url):$(params.git-short-sha)-$(params.timestamp)
        EOF

        # Stage, commit, and push the changes
        git add deployment_patches.yaml
        COMMIT_MESSAGE="$(params.commit-message) with new image tag $(params.git-short-sha)-$(params.timestamp)"
        git commit -m "$COMMIT_MESSAGE"
        git push --force-with-lease origin $(params.kustomize-revision)

    - name: manifest-push-end
      image: icn.ocir.io/cntwrbo3mm3p/alpine-linux:3.19.1
      # image: alpine
      script: |
        #!/bin/sh
        # Curl
        apk add --no-cache curl
        echo "Listing files in $(workspaces.hyper-report-web.path):"
        ls -al $(workspaces.hyper-report-web.path)
        
        SLACK_WEBHOOK_URL="https://hooks.slack.com/services/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"
        
        SLACK_MESSAGE="$(params.project-name) Image repository Push!"
        curl -X POST -H 'Content-type: application/json' \
        --data '{"text":"'"$SLACK_MESSAGE"'"}' \
        $SLACK_WEBHOOK_URL